*, body {
    margin: 0 auto;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    font-family: 'Lato', sans-serif, monospace;
    font-size: 16px;
    font-weight: 100;
    box-sizing: border-box;
}

i {
    margin-left: 5px;
    margin-right: 5px;
}

nav {
    position: fixed;
    z-index: 99999;
    display: block;
    height: 75px;
    width: 100%;
    background: rgba(100, 100, 100, 0.4);
    box-shadow: 0px 1px 5px 5px rgba(255, 255, 255, 0.1);
    -webkit-box-shadow: 0px 1px 5px 5px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: 0px 1px 5px 5px rgba(255, 255, 255, 0.1);
    -ms-box-shadow: 0px 1px 5px 5px rgba(255, 255, 255, 0.1);
    -o-box-shadow: 0px 1px 5px 5px rgba(255, 255, 255, 0.1);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

nav #logo-container {
    height: 100%;
    vertical-align: middle;
    width: 13%;
    left: 0;
    overflow: hidden;
    position: relative;
    display: inline-block;
    margin: 0;
}

nav #logo-container:hover {
    animation: bounce 0.75s ease-in-out;
    -o-animation: bounce 0.75s ease-in-out;
    -moz-animation: bounce 0.75s ease-in-out;
    -webkit-animation: bounce 0.75s ease-in-out;
}

#logo-container img {
    height: 60%;
    width: auto;
    position: absolute;
    top: 20%;
    padding: 0.625em;
}

nav #navigation {
    position: inherit;
    display: inline-block;
    height: 75px;
    width: 70%;
    margin-left: 15%;
}

#navigation #navs {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    right: 0;
    width: 100%;
    height: 100%;
}

#navs #nav1, #navs #nav2 {
    position: relative;
    -webkit-flex: 1 1 auto;
    -moz-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    -o-flex: 1 1 auto;
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0.625em;
}

#navs #nav2 {
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
}

#nav2 #container {
    position: relative;
    display: flex;
    max-width: 80%;
    height: 50%;
    line-height: 50%;
    text-align: right;
    margin: 0;
}

#container h2 {
    line-height: 100%;
    height: 100%;
}

#nav1 form {
    width: 60%;
    height: 100%;
    position: relative;
    justify-content: flex-end;
    display: flex;
}

nav #nav1 form input[type=text] {
    width: 50%;
    height: 30px;
    justify-content: flex-end;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.75);
    padding-left: 0.625em;
    border-top-left-radius: 1.25em;
    border-bottom-left-radius: 1.25em;
    background-color: white;
    -webkit-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}

nav #nav1 form input[type=text]:focus {
    width: 70%;
    outline: none;
}

#nav1 form button {
    text-decoration: none;
    display: inline;
    cursor: pointer;
    height: 30px;
    background-color: white;
    border: none;
    padding-right: 0.625em;
    padding-left: 0.625em;
    border-top-right-radius: 1.25em;
    border-bottom-right-radius: 1.25em;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#nav1 form button:hover {
    background: rgba(0,0,0,0.25);
    color: white;
}

nav .functions {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    color: white;
    height: 30px;
    line-height: 30px;
}

nav .functions a {
    text-decoration: none;
    color: white;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

nav .functions a:hover {
    opacity: 0.5;
    text-shadow: 0 0 2px maroon;
}

nav #nav2 a {
    color: white;
    text-decoration: none;
    padding: 0.25em 1em 0.25em 1em;
    border-radius: 0.3em;
    font-weight: 900;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

nav #nav2 h2 {
    font-size: inherit;
}

#nav2 a:hover {
    background-color: rgba(255, 255, 255, 1);
    color: black;
}

#header {
    max-height: 100vh;
    width: 100%;
    overflow: hidden;
}

#header .carousel-item {
    overflow: hidden;
    height: 100vh;
}

#header .carousel-item .carousel-caption {
    width: 100%;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    padding: 2em;
}

.carousel-item .carousel-caption {
    text-align: left;
}

#header .carousel-item img {
    min-height: 100vh;
    width: auto;
}

#featured-section, #critic-section {
    width: 100%;
    background: #F2F2F2;
    text-align: center;
    position: relative;
    display: table;
    min-height: 50vh;
    padding: 2em 0 2em 0;
}

#featured-section a {
    position: relative;
    width: 90%;
    height: 50vh;
    text-align: center;
    display: block;
    background: linear-gradient(to top, rgba(0,0,0,0.3), rgba(0,0,0,0.7)), url('../img/layout/featured.svg') bottom no-repeat;
    background-size: cover;
    color: white;
    vertical-align: middle;
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

#featured-section a:hover {
    text-decoration: none;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
}

#featured {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
}

#featured div {
    -webkit-flex: 1 1 auto;
    -moz-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    -o-flex: 1 1 auto;
    flex: 1 1 auto;
    height: 100%;
    padding: 1em 1em 1em 2em;
    position: relative;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#featured div img {
    position: relative;
    height: 100%;
    width: auto;
}

#critic-section #becomeacritic {
    height: 50vh;
    width: 90%;
    position: relative;
    color: white;
    background: linear-gradient(to top, rgba(0,0,0,0.1), rgba(0,0,0,0.7)), url('../img/layout/critic%20(1).svg') bottom no-repeat;
    background-size: cover;
}

#becomeacritic p {
    position: relative;
    right: 0;
    width: 75%;
    text-align: left;
    padding: 1.5em;
    margin-right: 2em;
}

footer {
    height: 50vh;
    width: 100%;
    background: black;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow: hidden;
}

footer div {
    position: relative;
    height: 100%;
    -webkit-flex: 1 1 auto;
    -moz-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    -o-flex: 1 1 auto;
    flex: 1 1 auto;
}

footer #footerlogo {
    position: relative;
    height: 100%;
    width: 20%;
    text-align: center;
}

#footerlogo img {
    height: 50%;
    width: auto;
    position: relative;
    top: 25%;
}

footer div ul {
    height: 50%;
    list-style: none;
    display: flex;
    position: relative;
    top: 25%;
    flex-direction: column;
}

footer div:nth-of-type(2) ul {
    height: 30%;
}

footer div ul li {
    color: white;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    flex: 1;
}

footer div ul li a {
    color: white;
    text-decoration: none;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

footer div ul li a i {
    line-height: 100%;
    vertical-align: middle;
}

footer div ul li a:hover {
    color: red;
    text-decoration: none;
    text-shadow: 0 0 2px maroon;
}

footer #followus a:hover {
    opacity: 0.5;
    color: white;
}

#subscribe {
    border: 1px solid white;
    padding: 0.625em;
    padding-right: 1.25em;
    padding-left: 1.25em;
    border-radius: 0.625em;
}

#subscribe:hover {
    color: black;
    background: white;
    text-shadow: none;
}

#search-input{
    width: 500px;
}

#greeting{
    color:white;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 500px) {
    
}

@keyframes bounce {
    0%, 20%, 60%, 100% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    
    40% {
        -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -o-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    
    80% {
        -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        -o-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}