*, body {
    margin: 0 auto;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    font-family: 'Lato', sans-serif, monospace;
    font-size: 16px;
    font-weight: 100;
    box-sizing: border-box;
}

i {
    margin-left: 5px;
    margin-right: 5px;
}

nav {
    position: fixed;
    z-index: 99999;
    display: block;
    height: 75px;
    width: 100%;
    background: rgba(100, 100, 100, 0.4);
    box-shadow: 0px 1px 5px 5px rgba(255, 255, 255, 0.1);
    -webkit-box-shadow: 0px 1px 5px 5px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: 0px 1px 5px 5px rgba(255, 255, 255, 0.1);
    -ms-box-shadow: 0px 1px 5px 5px rgba(255, 255, 255, 0.1);
    -o-box-shadow: 0px 1px 5px 5px rgba(255, 255, 255, 0.1);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

nav #logo-container {
    height: 100%;
    vertical-align: middle;
    width: 13%;
    left: 0;
    overflow: hidden;
    position: relative;
    display: inline-block;
    margin: 0;
}

nav #logo-container:hover {
    animation: bounce 0.75s ease-in-out;
    -o-animation: bounce 0.75s ease-in-out;
    -moz-animation: bounce 0.75s ease-in-out;
    -webkit-animation: bounce 0.75s ease-in-out;
}

#logo-container img {
    height: 60%;
    width: auto;
    position: absolute;
    top: 20%;
    padding: 0.625em;
}

nav #navigation {
    position: inherit;
    display: inline-block;
    height: 75px;
    width: 70%;
    margin-left: 15%;
}

#navigation #navs {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    right: 0;
    width: 100%;
    height: 100%;
}

#navs #nav1, #navs #nav2 {
    position: relative;
    -webkit-flex: 1 1 auto;
    -moz-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    -o-flex: 1 1 auto;
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0.625em;
}

#nav1 .sessionstuff {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sessionstuff div {
    -webkit-flex: 1 1 auto;
    -moz-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    -o-flex: 1 1 auto;
    flex: 1 1 auto;
    margin-right: 1.25em;
}

#navs #nav2 {
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
}

#nav2 #container {
    position: relative;
    display: flex;
    max-width: 80%;
    height: 50%;
    line-height: 50%;
    text-align: right;
    margin: 0;
}

#container h2 {
    line-height: 100%;
    height: 100%;
}

#nav1 form {
    width: 60%;
    height: 100%;
    position: relative;
    justify-content: flex-end;
    display: flex;
}

nav #nav1 form input[type=search] {
    width: 50%;
    height: 30px;
    justify-content: flex-end;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.75);
    padding-left: 0.625em;
    border-top-left-radius: 1.25em;
    border-bottom-left-radius: 1.25em;
    background-color: white;
    -webkit-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}

nav #nav1 form input[type=search]:focus {
    width: 70%;
    outline: none;
}

#nav1 form button {
    text-decoration: none;
    display: inline;
    cursor: pointer;
    height: 30px;
    background-color: white;
    border: none;
    padding-right: 0.625em;
    padding-left: 0.625em;
    border-top-right-radius: 1.25em;
    border-bottom-right-radius: 1.25em;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#nav1 form button:hover {
    background: rgba(0,0,0,0.25);
    color: white;
}

nav .functions {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    color: white;
    height: 30px;
    line-height: 30px;
}

nav .functions a {
    text-decoration: none;
    color: white;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

nav .functions a:hover {
    opacity: 0.5;
    text-shadow: 0 0 2px maroon;
}

nav #nav2 a {
    color: white;
    text-decoration: none;
    padding: 0.25em 1em 0.25em 1em;
    border-radius: 0.3em;
    font-weight: 900;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

nav #nav2 h2 {
    font-size: inherit;
}

#nav2 a:hover {
    background-color: rgba(255, 255, 255, 1);
    color: black;
}

#plain-div #logo-container {
    height: 100%;
    vertical-align: middle;
    width: 13%;
    left: 0;
    overflow: hidden;
    position: relative;
    display: inline-block;
    margin: 0;
}

#plain-div #logo-container:hover {
    animation: bounce 0.75s ease-in-out;
    -webkit-animation: bounce 0.75s ease-in-out;
    -ms-animation: bounce 0.75s ease-in-out;
    -o-animation: bounce 0.75s ease-in-out;
}

#plain-div #logo-container img {
    height: 60%;
    position: absolute;
    top: 20%;
    padding: 0.625em;
}

#header {
    max-height: 100vh;
    width: 100%;
    overflow: hidden;
}

#header .carousel-item {
    overflow: hidden;
    height: 100vh;
}

#header .carousel-item .carousel-caption {
    width: 100%;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    padding: 2em;
}

.carousel-item .carousel-caption {
    text-align: left;
}

#header .carousel-item img {
    min-height: 100vh;
    width: auto;
}

#featured-section, #critic-section {
    width: 100%;
    background: #F2F2F2;
    text-align: center;
    position: relative;
    display: table;
    min-height: 50vh;
    padding: 2em 0 2em 0;
}

#featured-section a {
    position: relative;
    width: 90%;
    height: 50vh;
    text-align: center;
    display: block;
    background: linear-gradient(to top, rgba(0,0,0,0.3), rgba(0,0,0,0.7)), url('../img/layout/featured.svg') bottom no-repeat;
    background-size: cover;
    color: white;
    vertical-align: middle;
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

#featured-section a:hover {
    text-decoration: none;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
}

#featured {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
}

#featured div {
    -webkit-flex: 1 1 auto;
    -moz-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    -o-flex: 1 1 auto;
    flex: 1 1 auto;
    height: 100%;
    padding: 1em 1em 1em 2em;
    position: relative;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#featured div img {
    position: relative;
    height: 100%;
    width: auto;
}

#critic-section #becomeacritic {
    height: 50vh;
    width: 90%;
    position: relative;
    color: white;
    background: linear-gradient(to top, rgba(0,0,0,0.1), rgba(0,0,0,0.7)), url('../img/layout/critic%20(1).svg') bottom no-repeat;
    background-size: cover;
}

#signup, #signin {
    position: relative;
    display: block;
    width: 100%;
}

#register-div, #signin-div {
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

#register-div .alert {
    width: 80%;
    margin-top: 2em;
}

#hasaccount {
    position: relative;
    width: 39%;
    height: 50vh;
    text-align: center;
    display: flex;
    color: firebrick;
    flex-direction: column;
    justify-content: center;
}

#hasaccount div {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    top: 25vh;
}

#hasaccount h3 {
    position: relative;
    height: 20%;
    line-height: 20%;
}

#hasaccount div h6 {
    height: 10%;
    line-height: 10%;
}

#hasaccount a {
    position: relative;
    padding: 1.25em;
    width: 50%;
    text-decoration: none;
    color: white;
    border-radius: 1em;
    background: firebrick;
    border: 1px solid firebrick;
    vertical-align: middle;
    letter-spacing: 2px;
    -webkit-box-shadow: 0px 3px 1px 2px rgba(11, 60, 93, 0.2);
    box-shadow: 0px 3px 1px 2px rgba(11, 60, 93, 0.2);
    -ms-box-shadow: 0px 3px 1px 2px rgba(11, 60, 93, 0.2);
    -moz-box-shadow: 0px 3px 1px 2px rgba(11, 60, 93, 0.2);
    -o-box-shadow: 0px 3px 1px 2px rgba(11, 60, 93, 0.2);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#hasaccount a:hover {
    color: firebrick;
    border: 1px solid firebrick;
    background: transparent;
}

#signup #intro, #signin #intro {
    position: relative;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: firebrick;
    padding-top: 2em;
    padding-bottom: 2em;
}

#intro img {
    height: 8vh;
    width: auto;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    flex: 1;
}

#intro span {
    color: firebrick;
}

#form {
    width: 60%;
    position: relative;
    padding-bottom: 2em;
}

#form #house {
    height: 25vh;
    max-height: 300px;
    text-align: center;
}

#house h2 {
    background-color: rgba(20, 30, 48, 0.7);
    background-image: linear-gradient(to bottom, rgba(20, 30, 48, 0.5), rgba(36, 59, 85, .7));
    background: linear-gradient(to bottom, rgba(20, 30, 48, 0.5), rgba(36, 59, 85, .7)), url('../img/layout/fire2.jpg') scroll;
    color: white;
    width: 80%;
    height: 25vh;
    max-height: 300px;
    line-height: 25vh;
    -webkit-box-shadow: 0px 5px 15px 2px rgba(11, 60, 93, 0.2);
    box-shadow: 0px 5px 15px 2px rgba(11, 60, 93, 0.2);
    -ms-box-shadow: 0px 5px 15px 2px rgba(11, 60, 93, 0.2);
    -moz-box-shadow: 0px 5px 15px 2px rgba(11, 60, 93, 0.2);
    -o-box-shadow: 0px 5px 15px 2px rgba(11, 60, 93, 0.2);
}

#signin-div #house h2 {
    background: linear-gradient(to bottom, rgba(20, 30, 48, 0.5), rgba(36, 59, 85, .7)), url('../img/layout/fire4.jpg') scroll;
}

#signupform, #signinform {
    position: relative;
    width: 80%;
    display: flex;
    flex-direction: column;
    background: white;
    -webkit-box-shadow: 0px 5px 15px 2px rgba(11, 60, 93, 0.2);
    box-shadow: 0px 5px 15px 2px rgba(11, 60, 93, 0.2);
    -ms-box-shadow: 0px 5px 15px 2px rgba(11, 60, 93, 0.2);
    -moz-box-shadow: 0px 5px 15px 2px rgba(11, 60, 93, 0.2);
    -o-box-shadow: 0px 5px 15px 2px rgba(11, 60, 93, 0.2);
}

#signupform label, #signinform label {
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    flex: 1;
    width: 80%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 1.25em 1.25em 0 1.25em;
}

#signupform .label-text, #signinform .label-text {
    text-align: center;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    flex: 1;
    position: relative;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

#signupform label input, #signinform label input {
    width: 80%;
    padding: 0 0.625em 0 0.625em;
    border: 1px dashed rgba(0, 0, 0, 0.3);
    border-left: none;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#signupform label input:focus, #signinform label input:focus {
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-left: none;
}

#signupform span, #signinform span {
    position: relative;
    margin-bottom: 1em;
    font-size: 1em;
    line-height: 1em;
    width: 60%;
    -webkit-flex: 11;
    -moz-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    flex: 1;
    justify-content: flex-start;
}

#signupform span:first-of-type, #signinform span:first-of-type {
    margin-top: 1em;
}

#signupform span input[type=checkbox], #signinform span input[type=checkbox] {
    -webkit-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -o-transform: scale(1.25);
    transform: scale(1.25);
    margin-right: 0.25em;
    position: relative;
}

#signupform button, #signinform button {
    width: 50%;
    position: relative;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 1.5em;
    border: 1px solid black;
    text-transform: uppercase;
    letter-spacing: 4px;
    height: 40px;
    line-height: 40px;
    background: none;
    border-radius: 10px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-box-shadow: 0px 3px 1px 2px rgba(11, 60, 93, 0.2);
    box-shadow: 0px 3px 1px 2px rgba(11, 60, 93, 0.2);
    -ms-box-shadow: 0px 3px 1px 2px rgba(11, 60, 93, 0.2);
    -moz-box-shadow: 0px 3px 1px 2px rgba(11, 60, 93, 0.2);
    -o-box-shadow: 0px 3px 1px 2px rgba(11, 60, 93, 0.2);
}

#signupform button span, #signinform button span {
    position: relative;
    height: 100%;
    line-height: 100%;
    padding: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px);
    transform: translateX(-10px);
}

#signupform button i, #signinform button i {
    display: none;
}

#signupform button:hover, #signinform button:hover {
    cursor: pointer;
    color: white;
    background: black;
}

#signupform button:hover i, #signinform button:hover i {
    display: inline-block;
}

#becomeacritic p {
    position: relative;
    right: 0;
    width: 75%;
    text-align: left;
    padding: 1.5em;
    margin-right: 2em;
}

footer {
    height: 50vh;
    width: 100%;
    background: black;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow: hidden;
}

footer div {
    position: relative;
    height: 100%;
    -webkit-flex: 1 1 auto;
    -moz-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    -o-flex: 1 1 auto;
    flex: 1 1 auto;
}

footer #footerlogo {
    position: relative;
    height: 100%;
    width: 20%;
    text-align: center;
}

#footerlogo img {
    height: 50%;
    width: auto;
    position: relative;
    top: 25%;
}

footer div ul {
    height: 50%;
    list-style: none;
    display: flex;
    position: relative;
    top: 25%;
    flex-direction: column;
}

footer div:nth-of-type(2) ul {
    height: 30%;
}

footer div ul li {
    color: white;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    flex: 1;
}

footer div ul li a {
    color: white;
    text-decoration: none;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

footer div ul li a i {
    line-height: 100%;
    vertical-align: middle;
}

footer div ul li a:hover {
    color: red;
    text-decoration: none;
    text-shadow: 0 0 2px maroon;
}

footer #followus a:hover {
    opacity: 0.5;
    color: white;
}

#subscribe {
    border: 1px solid white;
    padding: 0.625em;
    padding-right: 1.25em;
    padding-left: 1.25em;
    border-radius: 0.625em;
}

#subscribe:hover {
    color: black;
    background: white;
    text-shadow: none;
}

#search-input{
    width: 500px;
}

#greeting{
    color:white;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 500px) {
    
}

@keyframes bounce {
    0%, 20%, 60%, 100% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    
    40% {
        -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -o-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    
    80% {
        -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        -o-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}