*, body {
    margin: 0 auto;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    font-family: 'Lato', sans-serif, monospace;
    font-size: 16px;
    font-weight: 100;
    box-sizing: border-box;
}

i {
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    margin-left: 5px;
    margin-right: 5px;
}

nav {
    position: relative;
    z-index: 99999;
    display: block;
    height: 13vh;
    width: 100%;
    background: black;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

nav #logo-container {
    height: 100%;
    vertical-align: middle;
    width: 13%;
    left: 0;
    overflow: hidden;
    position: relative;
    display: inline-block;
    margin: 0;
}

nav #logo-container:hover {
    animation: bounce 0.75s ease-in-out;
    -webkit-animation: bounce 0.75s ease-in-out;
    -ms-animation: bounce 0.75s ease-in-out;
    -o-animation: bounce 0.75s ease-in-out;
}

#logo-container img {
    height: 60%;
    position: absolute;
    top: 20%;
    padding: 0.625em;
}

#signup {
    position: relative;
    display: block;
    width: 100%;
    background: #F2F2F2;
}

#register-div {
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

#hasaccount {
    position: relative;
    width: 49%;
    height: 50vh;
    text-align: center;
    display: flex;
    color: firebrick;
    flex-direction: column;
    justify-content: center;
}

#hasaccount:before {
    content: "";
    position: absolute;
    left: 0;
    top: 10vh;
    width: 1px;
    height: 80vh;
    background-image: repeating-linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.3) 0.5em, transparent 0.5em, transparent 1em);
}

#hasaccount div {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    top: 25vh;
}

#hasaccount h3 {
    position: relative;
    height: 20%;
    line-height: 20%;
}

#hasaccount div h6 {
    height: 10%;
    line-height: 10%;
}

#hasaccount a {
    position: relative;
    padding: 1.25em;
    width: 50%;
    text-decoration: none;
    color: white;
    border-radius: 1em;
    background: firebrick;
    border: 1px solid firebrick;
    vertical-align: middle;
    letter-spacing: 2px;
    -webkit-box-shadow: 0px 3px 1px 2px rgba(11, 60, 93, 0.2);
    box-shadow: 0px 3px 1px 2px rgba(11, 60, 93, 0.2);
    -ms-box-shadow: 0px 3px 1px 2px rgba(11, 60, 93, 0.2);
    -moz-box-shadow: 0px 3px 1px 2px rgba(11, 60, 93, 0.2);
    -o-box-shadow: 0px 3px 1px 2px rgba(11, 60, 93, 0.2);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#hasaccount a:hover {
    color: firebrick;
    border: 1px solid firebrick;
    background: transparent;
}

#signup #intro {
    position: relative;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: firebrick;
    padding-top: 2em;
    padding-bottom: 2em;
}

#intro img {
    height: 8vh;
    width: auto;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    flex: 1;
}

#intro span {
    color: firebrick;
}

#form {
    width: 50%;
    position: relative;
    padding-bottom: 2em;
}

#form #house {
    height: 25vh;
    text-align: center;
}

#house h2 {
    background-color: rgba(20, 30, 48, 0.3);
    background-image: linear-gradient(to bottom, rgba(20, 30, 48, 0.1), rgba(36, 59, 85, .2));
    background: linear-gradient(to bottom, rgba(20, 30, 48, 0.1), rgba(36, 59, 85, .2)), url('../img/layout/fire2.jpg') scroll;
    color: white;
    width: 80%;
    height: 25vh;
    border-top-left-radius: 3em;
    border-top-right-radius: 3em;
    line-height: 25vh;
}

#signupform {
    position: relative;
    width: 80%;
    display: flex;
    flex-direction: column;
    background: white;
}

#signupform label {
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    flex: 1;
    width: 80%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 1.25em 1.25em 0 1.25em;
}

#signupform .label-text {
    text-align: center;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    flex: 1;
    position: relative;
    color: white;
    background: black;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

#signupform label input {
    width: 80%;
    padding: 0 0.625em 0 0.625em;
    border: 1px dashed rgba(0, 0, 0, 0.3);
    border-left: none;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#signupform label input:focus {
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-left: none;
}

#signupform span {
    position: relative;
    margin-bottom: 1em;
    font-size: 1em;
    line-height: 1em;
    width: 60%;
    -webkit-flex: 11;
    -moz-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    flex: 1;
    justify-content: flex-start;
}

#signupform span:first-of-type {
    margin-top: 1em;
}

#signupform span input[type=checkbox] {
    -webkit-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -o-transform: scale(1.25);
    transform: scale(1.25);
    margin-right: 0.25em;
    position: relative;
}

#signupform button {
    width: 50%;
    position: relative;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 1.5em;
    border: 1px solid black;
    text-transform: uppercase;
    letter-spacing: 4px;
    height: 40px;
    line-height: 40px;
    background: none;
    border-radius: 10px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-box-shadow: 0px 3px 1px 2px rgba(11, 60, 93, 0.2);
    box-shadow: 0px 3px 1px 2px rgba(11, 60, 93, 0.2);
    -ms-box-shadow: 0px 3px 1px 2px rgba(11, 60, 93, 0.2);
    -moz-box-shadow: 0px 3px 1px 2px rgba(11, 60, 93, 0.2);
    -o-box-shadow: 0px 3px 1px 2px rgba(11, 60, 93, 0.2);
}

#signupform button span {
    position: relative;
    height: 100%;
    line-height: 100%;
    padding: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px);
    transform: translateX(-10px);
}

#signupform button i {
    display: none;
}

#signupform button:hover {
    cursor: pointer;
    color: white;
    background: black;
}

#signupform button:hover i {
    display: inline-block;
}

footer {
    height: 50vh;
    width: 100%;
    background: black;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow: hidden;
    text-align: center;
}

footer div {
    position: relative;
    height: 100%;
    -webkit-flex: 1 1 auto;
    -moz-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    -o-flex: 1 1 auto;
    flex: 1 1 auto;
}

footer #footerlogo {
    position: relative;
    height: 100%;
    width: 20%;
    text-align: center;
}

#footerlogo img {
    height: 50%;
    width: auto;
    position: relative;
    top: 25%;
}

footer div ul {
    height: 50%;
    list-style: none;
    display: flex;
    position: relative;
    top: 25%;
    flex-direction: column;
}

footer div:nth-of-type(2) ul {
    height: 30%;
}

footer div ul li {
    color: white;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    flex: 1;
}

footer div ul li a {
    color: white;
    text-decoration: none;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

footer div ul li a i {
    line-height: 100%;
    vertical-align: middle;
}

footer div ul li a:hover {
    color: red;
    text-decoration: none;
    text-shadow: 0 0 2px maroon;
}

footer #followus a:hover {
    opacity: 0.5;
    color: white;
}

#subscribe {
    border: 1px solid white;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 10px;
}

#subscribe:hover {
    color: black;
    background: white;
    text-shadow: none;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 500px) {
    
}

@keyframes bounce {
    0%, 20%, 60%, 100% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    
    40% {
        -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -o-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    
    80% {
        -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        -o-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}