<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head(Centigrade)"></head>

<body>
<nav th:replace="fragments :: navbar"></nav>
<div class="container padding-top-bottom">
    <div id="movie-top">
        <h1 style="text-align: center;">Edit Account</h1>
    </div>
    <div class="row">
        <div th:switch="${alert}">
            <div th:case="invalidEmail" th:text="${message}" class="alert alert-danger" role="alert"/>
            <div th:case="invalidPassword" th:text="${message}" class="alert alert-warning" role="alert"/>
            <div th:case="success" th:text="${message}" class="alert alert-success" role="alert"/>
        </div>
        <form class="container-fluid"  id="editAccountForm" action="/edit_account" method="post" name="editAccountForm">
            <div class="form-group row">
                <label for="staticName" class="col-sm-2 col-form-label">Profile Name</label>
                <div class="col-sm-10">
                    <a th:href="@{'/profile?id=' + ${session.account.id}}">
                        <p type="text" readonly="readonly" class="form-control-plaintext" id="staticName" th:text="@{${session.account.toString()}}" />
                    </a>
                </div>

                <label for="staticEmail" class="col-sm-2 col-form-label">Email Address</label>
                <div class="col-sm-10">
                    <p id="staticEmail" th:text="@{'Email: ' + ${session.account.email}}" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col">
                    <label class="sr-only" for="email">Change Email</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Change Email</div>
                        </div>
                        <input type="email" class="form-control" id="email" name="email" placeholder="New Email address" />
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col">
                    <label class="sr-only" for="firstName">Change First Name</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Change First Name</div>
                        </div>
                        <input type="text" class="form-control" id="firstName" name="firstName" placeholder="New First Name" />
                    </div>
                </div>
                <div class="col">
                    <label class="sr-only" for="lastName">Change Last Name</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Change Last Name</div>
                        </div>
                        <input type="text" class="form-control" id="lastName" name="lastName" placeholder="New Last Name" />
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col">
                    <label class="sr-only" for="password">Change Password</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Change Password</div>
                        </div>
                        <input type="password" class="form-control" id="password" name="password" placeholder="New Password" />
                    </div>
                </div>
                <div class="col">
                    <label class="sr-only" for="passwordverify">Verify New Password</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Verify New Password</div>
                        </div>
                        <input type="password" class="form-control" id="passwordverify" name="passwordVerify" placeholder="Verify New Password" />
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col">
                    <label class="sr-only" for="oldPassword">Old Password</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Old Password</div>
                        </div>
                        <input type="password" class="form-control" id="oldPassword" name="oldPassword" placeholder="Old Password" />
                    </div>
                </div>
            </div>
            <button type="submit" value="submit" class="btn btn-danger mb-2"><i class="fas fa-save"></i>Save Changes</button>
        </form>
    </div>
    <div class="row container">
        <button class="btn btn-outline-danger" data-toggle="modal" data-target="#delete-account-modal">Delete Account</button>
    </div>
</div>
<p th:utext="@{'&lt;br&gt;'}"></p>
<div th:replace="fragments :: footer"></div>
</body>

<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</html>