<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head (title)">
    <title th:text="${title}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css"/>
    <meta name="description" content="CentiGrade is a web application for reviewing movies and tv shows."/>
    <meta name="title" content="CentiGrade: Movies | Tv Shows | Reviews"/>
    <meta name="author" content="CentiGrade"/>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="icon" th:href="@{/img/logos/c.png}" />
    <link href='https://fonts.googleapis.com/css?family=Lato|Clicker+Script' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/bootstrap-select.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/centigrade.css}"/>
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet"/>
</head>
<body>
<nav th:fragment="navbar">
    <div class="logo-container">
        <a href="/"><img th:src="@{/img/logos/logo.png}" alt="CentiGrade"/></a>
    </div>
    <div id="navigation">
        <div id="navs">
            <div id="nav1">
                <form action="/search" method="get">
                    <input type="search" name="search" placeholder="Search movies, tv shows, actors, more..."
                           onfocus="this.value=''" aria-label="Search"/>
                    <button type="submit" value="submit"><i class="fas fa-search"></i></button>
                </form>

                <div th:if="${session.account != null} and ${session.account.accountType == T(centigrade.accounts.AccountType).ADMIN}" class="functions">
                    <a href="/admin">Admin</a>
                </div>
                <div id="following" class="functions">
                    <a href="/following"><i class="far fa-smile"></i>Following</a>
                </div>

                <div th:if="${session.account == null}" class="sessionstuff">
                    <div id="login" class="functions">
                        <a href="/login"><i class="fas fa-sign-in-alt"></i>Login</a>
                    </div>
                    <div id="register" class="functions">
                        <a href="/register"><i class="fas fa-user-plus"></i>Register</a>
                    </div>
                </div>
                <div th:if="${session.account != null}" class="sessionstuff">
                    <li class="dropdown functions">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> <b th:text="${'Hello, ' + session.account.firstName}"></b></a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" style="color:black" th:href="${'/profile?id=' + session.account.id}">Profile</a>
                            <a class="dropdown-item" style="color:black" href="/edit_account">Edit Account</a>
                            <a th:if="${session.account.accountType == T(centigrade.accounts.AccountType).USER}" class="dropdown-item" style="color:black" href="/critic_application">Upgrade to Critic</a>
                        </div>
                        <!-- <a class="dropdown-item" href="/edit_account"></a> -->
                    </li>
                    <div id="logout" class="functions">
                        <a href="/logout">Logout</a>
                    </div>
                </div>
            </div>
            <div id="nav2">
                <div id="container">
                    <h2><a href="/movies">MOVIES</a></h2>
                    <h2><a href="/shows">TV SHOWS</a></h2>
                    <h2><a href="/">TICKETS AND SHOWTIMES</a></h2>
                </div>
            </div>
        </div>
    </div>
</nav>
<nav id="plain-nav" th:fragment="navbar-relative">
    <div class="logo-container">
        <a href="/"><img src="../img/logos/logo.png" alt="CentiGrade" /></a>
    </div>
</nav>

<footer th:fragment="footer">
    <div id="footerlogo">
        <a href="/"><img th:src="@{/img/logos/footerLogo.png}" alt=""/></a>
    </div>
    <div>
        <ul>
            <li><a href="">Help</a></li>
            <li><a href="">About centigrade</a></li>
            <li><a href="">Feedback</a></li>
        </ul>
    </div>
    <div>
        <ul>
            <li><a href="/">Critic Submission</a></li>
            <li><a href="/">Licensing</a></li>
            <li><a href="/">Privacy Policy</a></li>
            <li><a href="/">Terms and Policies</a></li>
        </ul>
    </div>
    <div>
        <ul>
            <li><h4><i class="fas fa-newspaper fa-lg"></i>JOIN THE NEWSLETTER</h4></li>
            <li><a href="/" id="subscribe">SUBCRIBE</a></li>
            <li id="followus"><span>FOLLOW US</span> <a href="/"><i class="fab fa-facebook-square fa-2x"></i></a>
                <a href="/"><i class="fab fa-snapchat-square fa-2x"></i></a>
                <a href="/"><i class="fab fa-youtube-square fa-2x"></i></a></li>
        </ul>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap-select.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/centigrade.js}"></script>
</footer>
</body>
</html>