<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head(Centigrade)"></head>
<body>
<nav th:replace="fragments :: navbar"></nav>
<div id="header" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#header" data-slide-to="0" class="active"></li>
        <li data-target="#header" data-slide-to="1"></li>
        <li data-target="#header" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="../img/movies/infinitywar.jpg" alt="First slide"/>
            <div class="carousel-caption d-none d-md-block">
                <h1>Avengers: Infinity War</h1>
                <p>Iron Man, Thor, the Hulk and the rest of the Avengers unite to battle their most powerful enemy yet -- the evil Thanos.
                    On a mission to collect all six Infinity Stones, Thanos plans to use the artifacts to inflict his twisted will on reality.
                    The fate of the planet and existence itself has never been more uncertain as everything the Avengers have fought for has led up to this moment.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="../img/movies/shape%20of%20water.jpg" alt="Second slide"/>
            <div class="carousel-caption d-none d-md-block">
                <h1>The Shape of Water</h1>
                <p>Elisa is a mute, isolated woman who works as a cleaning lady in a hidden, high-security government laboratory in 1962 Baltimore.
                    Her life changes forever when she discovers the lab's classified secret -- a mysterious, scaled creature from South America that lives in a water tank.
                    As Elisa develops a unique bond with her new friend, she soon learns that its fate and very survival lies in the hands of a hostile government agent and a marine biologist.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="../img/movies/greatestshowman.jpg" alt="Third slide"/>
            <div class="carousel-caption d-none d-md-block">
                <h1>The Greatest Showman</h1>
                <p>Inspired by the imagination of P. T. Barnum, The Greatest Showman is an original musical that celebrates the birth of show business and tells of a visionary who rose from nothing to create a spectacle that became a worldwide sensation.</p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#header" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#header" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div id="featured-section">
    <a href="/movie?id=625">
        <div id="featured">
            <div>
                <img src="../img/movies/bladerunner2049.jpg" alt="Blade Runner 2049"/>
            </div>
            <div>
                <h1>Blade Runner 2049</h1>
                <p>A young blade runner's discovery of a long-buried secret leads him to track down former blade runner Rick Deckard, who's been missing for thirty years.</p>
            </div>

        </div>
    </a>
</div>
<div id="critic-section">
    <div id="becomeacritic">
        <p>Movie reviews come from publications or individual critics that have been selected by the centigrade® staff.
            The criteria for inclusion for both publications and critics are separated across three divisions; print,
            broadcast, and online, each with its own criteria for rating inclusion.</p>
        <div id="critic-buttons" class="row container">
            <div class="col">
                <a href="/critics" class="btn btn-dark padding-top-bottom" style="width: 80%;">Our List of Critics</a>
            </div>
            <div class="col">
                <a href="/critic_application_form" class="btn btn-info padding-top-bottom" style="width: 80%;">Apply to be a Critic</a>
            </div>

        </div>
    </div>
</div>

<h3>TOP BOX OFFICE (<a th:href="@{'/movies?sortBy=BOX_OFFICE&amp;sortDirection=DESCENDING'}">View All</a>)</h3>
<div id="index-top-box-office">
    <img class="loading padding-top-bottom" th:src="@{/img/icons/loading.gif}" alt="" />
</div>

<h3>MOST POPULAR MOVIES (<a th:href="@{'/movies?sortBy=POPULAR&amp;sortDirection=DESCENDING'}">View All</a>)</h3>
<div id="index-most-popular-movies">
    <img class="loading padding-top-bottom" th:src="@{/img/icons/loading.gif}" alt="" />
</div>

<h3>Opening Soon</h3>
<div id="index-opening-soon">
    <img class="loading padding-top-bottom" th:src="@{/img/icons/loading.gif}" alt="" />
</div>


<h3>LATEST CRITIC REVIEWS</h3>
<div id="index-latest-critic-reviews">
    <img class="loading padding-top-bottom" th:src="@{/img/icons/loading.gif}" alt="" />
</div>


<footer th:replace="fragments :: footer"></footer>
<script type="text/javascript" th:src="@{/js/index.js}"></script>
</body>
</html>