<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head(Centigrade)"></head>
<body>
<nav th:replace="fragments :: navbar"></nav>
<div id="header" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#header" data-slide-to="0" class="active"></li>
        <li data-target="#header" data-slide-to="1"></li>
        <li data-target="#header" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="../img/movies/shape%20of%20water.jpg" alt="First slide"/>
            <div class="carousel-caption d-none d-md-block">
                <h1>The Shape of Water</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit at atque enim laboriosam dolore
                    voluptatem quisquam quidem, eius ut, iusto beatae magni saepe ducimus. Corporis, iure mollitia sed
                    sit vero.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="../img/movies/greatestshowman.jpg" alt="Second slide"/>
            <div class="carousel-caption d-none d-md-block">
                <h1>The Greatest Showman</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit at atque enim laboriosam dolore
                    voluptatem quisquam quidem, eius ut, iusto beatae magni saepe ducimus. Corporis, iure mollitia sed
                    sit vero.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="../img/movies/mazerunner.jpg" alt="Third slide"/>
            <div class="carousel-caption d-none d-md-block">
                <h1>Maze Runner 2049</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit at atque enim laboriosam dolore
                    voluptatem quisquam quidem, eius ut, iusto beatae magni saepe ducimus. Corporis, iure mollitia sed
                    sit vero.</p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#header" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#header" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div id="featured-section">
    <a href="#">
        <div id="featured">
            <div>
                <img src="../img/movies/mazerunner.jpg" alt="Maze Runner"/>
            </div>
            <div>
                <h1>Maze Runner - The Death Cure</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, aperiam, molestias. Facilis saepe
                    quisquam esse doloremque voluptas, amet soluta, modi maiores accusamus sapiente animi sint corporis
                    cumque laborum perspiciatis delectus.</p>
            </div>

        </div>
    </a>
</div>
<div id="critic-section">
    <div id="becomeacritic">
        <p>Movie reviews come from publications or individual critics that have been selected by the centigrade® staff.
            The criteria for inclusion for both publications and critics are separated across three divisions; print,
            broadcast, and online, each with its own criteria for rating inclusion.</p>
        <div id="critic-buttons">

        </div>
    </div>
</div>

<h3>TOP BOX OFFICE (<a th:href="@{'/movies?sortBy=BOX_OFFICE&amp;sortDirection=DESCENDING'}">View All</a>)</h3>
<table class="table table-striped" id="topboxoffice-table">
    <tbody>
    <tr th:each="movie : ${topBoxOffice}">
        <div th:if="${movie.hasBeenRated()}">
            <td th:text="@{${decimalFormat.format(movie.getOverallRating())} + '%'}"/>
        </div>
        <div th:unless="${movie.hasBeenRated()}">
            <td th:text="@{'N/A'}"/>
        </div>
        <td>
            <img th:src="@{${posterURL} + 'poster' + ${movie.id} + '.jpg'}" width="90" height="132"/>
        </td>
        <td>
            <a th:href="@{'/movie?id=' + ${movie.id}}" th:text="${movie.title}"/>
        </td>
        <td>
            <p th:text="@{'Year: ' + ${movie.year}}"></p>
            <p th:text="@{'Box Office: ' + ${movie.boxoffice}}"></p>
        </td>
    </tr>
    </tbody>
</table>

<h3>LATEST CRITIC REVIEWS</h3>
<table>
    <tr th:each="r : ${latestReviews}">
        <table frame="box" width="600" rules="rows">
            <tr>
                <td>
                    <a th:if="${r.contentType.equals('Show')}" th:href="@{'/show?id=' + ${r.contentId}}" th:text="@{${r.contentName}}"></a>
                    <a th:unless="${r.contentType.equals('Show')}" th:href="@{'/movie?id=' + ${r.contentId}}" th:text="@{${r.contentName}}"></a>
                </td>
                <td>
                    <a th:href="@{'/profile?id=' + ${r.userId}}" th:text="@{${r.userName}}"></a>
                </td>

                <td th:text="@{'Rating: ' + ${r.rating} + '%'}"/>
            </tr>
            <tr th:unless="${r.reviewText == null}">
                <td th:colspan="3" th:text="${r.reviewText}"/>
            </tr>
        </table>
        <p th:utext="@{'&lt;br&gt;'}"></p>
    </tr>
</table>

<footer th:replace="fragments :: footer"></footer>
</body>
</html>