<div class="row">
    <div class="col-sm-6" th:each="movie : ${latest}">
        <div class="card" style="margin: 0.5em 0 0.5em 0;">
            <img class="card-img-top" height="375px" th:src="@{${posterURL} + 'poster' + ${movie.id} + '.jpg'}" alt="Card image cap" />
            <div class="card-body">
                <h5><a style="text-align: center; " th:href="@{'/movie?id=' + ${movie.id}}" class="card-title" th:text="${movie.title}" /></h5>
                <p th:text="@{'Releases on ' + ${movie.released}}"></p>
            </div>
        </div>
    </div>
</div>