<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head(${movie.title})"></head>

<body>
<div th:replace="fragments :: navbar"></div>
<div class="container container-fluid">
    <div id="movie-top" class="container">
        <div>
            <video th:src="@{${trailerURL} + 'trailer' + ${movie.id} + '.mp4'}" type="video/mp4" controls="controls"></video>
        </div>
        <h1><b th:text="${movie.title}"/></h1>
    </div>
    <div class="movie-information container-fluid">
        <div class="movie-first">
            <div class="movie-photo-wrapper">
                <img th:src="@{${posterURL} + 'poster' + ${movie.id} + '.jpg'}" alt="POSTER IMG"/>
            </div>
            <div id="movie-info" class="table-responsive">
                <table class="table">
                    <tr>
                        <td>Directed By: </td>
                        <td th:each="director : ${directors}">
                            <p>
                                <a th:href="@{'/person?id=' + ${director.id}}"
                                   th:text="${director.toString()}"/>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>Rated: </td>
                        <td th:text="${movie.rated}"/>
                    </tr>
                    <tr>
                        <td>Genre: </td>
                        <td th:text="${movie.genre}"/>
                    </tr>
                    <tr>
                        <td>Released: </td>
                        <td th:text="${movie.released}"/>
                    </tr>
                    <tr>
                        <td>Box Office:</td>
                        <td th:text="${movie.boxoffice}"/>
                    </tr>
                    <tr>
                        <td>Runtime</td>
                        <td th:text="${movie.runtime}"/>
                    </tr>
                    <tr>
                        <td>Production</td>
                        <td th:text="${movie.production}"/>
                    </tr>
                    <tr>
                        <td>Website</td>
                        <a th:href="${movie.website}" th:text="${movie.website}"/>
                    </tr>
                </table>
            </div>
        </div>
        <div class="movie-second">
            <div class="movie-summary movie-stuff container-fluid">
                <h3>PLOT</h3>
                <p th:text="${movie.plot}"/>
            </div>
            <div class="movie-review movie-stuff container-fluid">
                <h3>REVIEW</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus animi provident maxime molestiae, voluptatum recusandae amet ipsum voluptates reprehenderit accusantium non soluta, sed iste repudiandae nobis facere saepe, vitae cum.</p>
            </div>
            <div class="movie-cast movie-stuff container-fluid">
                <h3>CAST</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sapiente ratione sequi necessitatibus quam repellat officiis natus praesentium eius excepturi aut, quis consequuntur minus enim et voluptates libero, quos doloribus!</p>
                <p>Magnam, debitis incidunt labore quod illo. Rem, dolor. Atque qui incidunt deserunt voluptates rerum voluptate velit asperiores dolor ullam officia optio totam, nobis magni ipsam, tempora perspiciatis. Eos, numquam maiores.</p>
                <p>Atque quod aspernatur maiores odit sequi officiis eos inventore deleniti, numquam quisquam esse, assumenda blanditiis fugit ea, consectetur. Aliquid atque impedit maiores est dolorum possimus debitis, quae a alias et.</p>
                <p>Quidem cum neque autem, nihil odit delectus unde! Excepturi minima aliquid labore aspernatur obcaecati tempore unde non reprehenderit, enim earum eaque iste, sed a quasi nisi fugiat, expedita dolorem quo.</p>
                <p>Voluptatibus, nam ut ex ipsum reiciendis pariatur eveniet? Unde maxime alias, vel, excepturi placeat minus iste ab iure nulla tempora quibusdam in error delectus ipsum atque adipisci culpa explicabo distinctio.</p>
            </div>
            <div class="movie-c-reviews movie-stuff container-fluid">
                <h3>CRITIC REVIEWS</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, veritatis, nihil? Ab ut voluptas fugiat totam cupiditate rerum, sapiente voluptates aut, culpa dicta optio architecto tempora alias explicabo possimus sequi!</p>
            </div>
            <div class="movie-u-reviews movie-stuff container-fluid">
                <h3>USER REVIEWS</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat praesentium molestias officiis, voluptatibus, nemo a, quod voluptas quidem fugit corporis, necessitatibus commodi quam. Vero itaque iusto adipisci quis, laboriosam dicta.</p>
            </div>
        </div>
    </div>

</div>
<div class="container container-fluid">
    <div class="content-row-block">
        <table>
            <tr>
                <td>
                    <img th:src="@{${posterURL} + 'poster' + ${movie.id} + '.jpg'}" width="225" height="330"/>
                </td>

                <td>
                    <table>
                        <tr>
                            <td>
                                <b th:text="${movie.title}"/>
                            </td>
                        </tr>
                        <tr>
                            <td th:text="${movie.plot}"/>
                        </tr>


                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td>
                                            <b>Directed By: </b>
                                        </td>
                                    </tr>
                                    <tr th:each="director : ${directors}">
                                        <td>
                                            <a th:href="@{'/person?id=' + ${director.id}}"
                                               th:text="${director.toString()}"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>Rated: </b>
                                        </td>
                                        <td th:text="${movie.rated}"/>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>Genre: </b>
                                        </td>
                                        <td th:text="${movie.genre}"/>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>Released: </b>
                                        </td>
                                        <td th:text="${movie.released}"/>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>Box Office: </b>
                                        </td>
                                        <td th:text="${movie.boxoffice}"/>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>Runtime: </b>
                                        </td>
                                        <td th:text="${movie.runtime}"/>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>Production: </b>
                                        </td>
                                        <td th:text="${movie.production}"/>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>Website: </b>
                                        </td>
                                        <td>
                                            <a th:href="${movie.website}" th:text="${movie.website}"/>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <form action="/add_review" method="post">
                                    <table>
                                        <tr th:if="${message != null}">
                                            <td th:text="@{${message}}" />
                                        </tr>
                                        <tr>
                                            <td th:text="@{'Rating: ' + ${rating} + ' (Reviews Counted: ' + ${reviewsCounted} + ')'}"/>
                                        </tr>
                                        <tr>
                                            <td>
                                                <b>Add Your Rating</b> <input type="range" min="0" max="100" step="1"
                                                                              name="rating"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <textarea rows="4" cols="50" name="reviewtext" maxlength="520">Add Review (Optional)
                                                </textarea>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="submit"/>
                                            </td>
                                        </tr>
                                    </table>
                                    <input type="hidden" th:value="${movie.id}" name="contentID"/>
                                    <input type="hidden" th:value="Movie" name="contentType"/>
                                </form>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td>
                    <b>Trailer</b>
                </td>
            </tr>
            <tr>
                <td>
                    <video th:src="@{${trailerURL} + 'trailer' + ${movie.id} + '.mp4'}" type="video/mp4" width="400"
                           controls="controls"/>
                </td>
            </tr>
        </table>
        <table>
            <tr>
            <tr>
                <td>
                    <b>CAST</b>
                </td>
            </tr>
            <td th:each="person : ${cast}">
                <table>
                    <tr>
                        <td><img th:src="@{${photoURL} + 'pic' + ${person.id} + '.jpg'}" width="200" height="200"/></td>
                    </tr>
                    <tr>
                        <td><a th:href="@{'/person?id=' + ${person.id}}" th:text="${person.toString()}"/></td>
                    </tr>
                </table>

            </td>
            </tr>
        </table>

        <table>
            <tr>
                <td>
                    <b>CRITIC REVIEWS</b>
                </td>
            </tr>
            <tr th:each="cr : ${criticReviews}">
                <table frame="box" width="600" rules="rows">
                    <tr>
                        <td>
                            <a th:href="@{'/profile?id=' + ${cr.userId}}" th:text="@{${cr.userName}}"></a>

                        </td>
                        <td th:text="@{'Rating: ' + ${cr.rating} + '%'}"/>
                        <td th:if="${session.account != null and cr.userId == session.account.id}">
                            <form action = "delete_review" method="post">
                                <input type="hidden" th:value="${cr.id}" name="id" />
                                <input type="submit" value="X" />
                            </form>
                        </td>
                    </tr>
                    <tr th:unless="${cr.reviewText == null}">
                        <td th:if="${session.account != null and cr.userId == session.account.id}" th:colspan="3" th:text="${cr.reviewText}"/>
                        <td th:unless="${session.account != null and cr.userId == session.account.id}" th:colspan="2" th:text="${cr.reviewText}"/>
                    </tr>
                </table>
                <p th:utext="@{'&lt;br&gt;'}"></p>
            </tr>
        </table>

        <table>
            <tr>
                <td>
                    <b>USER REVIEWS</b>
                </td>
            </tr>
            <tr th:each="ur : ${userReviews}">
                <table frame="box" width="600" rules="rows">
                    <tr>
                        <td>
                            <a th:href="@{'/profile?id=' + ${ur.userId}}" th:text="@{${ur.userName}}"></a>

                        </td>
                        <td th:text="@{'Rating: ' + ${ur.rating} + '%'}"/>
                        <td th:if="${session.account != null and ur.userId == session.account.id}">
                            <form action = "delete_review" method="post">
                                <input type="hidden" th:value="${ur.id}" name="id" />
                                <input type="submit" value="X" />
                            </form>
                        </td>
                    </tr>
                    <tr th:unless="${ur.reviewText == null}">
                        <td th:if="${session.account != null and ur.userId == session.account.id}" th:colspan="3" th:text="${ur.reviewText}"/>
                        <td th:unless="${session.account != null and ur.userId == session.account.id}" th:colspan="2" th:text="${ur.reviewText}"/>
                    </tr>
                </table>
                <p th:utext="@{'&lt;br&gt;'}"></p>
            </tr>
        </table>

    </div>

</div>
<div th:replace="fragments :: footer"></div>
</body>
</html>