<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>"${movie.title}"</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
    <body>
        <table>
            <tr>
                <td>Title</td>
                <td>Summary</td>
            </tr>
            <tr th:each="movie : ${movies}">
                <td><a th:href="@{'/movie?id=' + ${movie.id}}" th:text="${movie.title}">test</a></td>
                <td th:text="${movie.summary}" />
            </tr>
        </table>
    </body>
</html>
