<table class="table table-striped" id="movies-table">
    <thead>
    <th scope="col">Rating</th>
    <th scope="col"></th>
    <th scope="col">Title</th>
    <th scope="col">Info</th>
    </thead>
    <tbody>
    <tr th:each="movie : ${movies}">
        <div th:if="${movie.hasBeenRated()}">
            <td th:text="@{${decimalFormat.format(movie.getOverallRating())} + '%'}"/>
        </div>
        <div th:unless="${movie.hasBeenRated()}">
            <td th:text="@{'N/A'}"/>
        </div>
        <td>
            <img th:src="@{${posterURL} + 'poster' + ${movie.id} + '.jpg'}" width="90" height="132"/>
        </td>
        <td>
            <a th:href="@{'/movie?id=' + ${movie.id}}" th:text="${movie.title}"/>
        </td>
        <td>
            <p th:text="@{'Year: ' + ${movie.year}}"></p>
            <p th:text="@{'Box Office: ' + ${movie.boxoffice}}"></p>
        </td>
    </tr>
    </tbody>
</table>

<!-- PAGINATION -->
<div class="container">
    <div class="row padding-top-bottom" style="text-align: center;">
        <div class="col" th:if="${prev!=null}"> <button id="prev-button" class="btn btn-danger" onclick="getPrev()"> Prev.</button></div>
        <div class="col" th:if="${prev==null}">  <button id="next-button" class="btn btn-danger disabled"> Prev.</button></div>

        <div class="col" th:if="${next!=null}"> <button id="next-button" class="btn btn-danger" onclick="getNext()"> Next</button></div>
        <div class="col" th:if="${next==null}">  <button id="next-button" class="btn btn-danger disabled"> Next</button></div>
    </div>
</div>