<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head(${movie.title})"></head>

<body>
<div th:replace="fragments :: navbar"></div>
    <div class="container container-fluid">
        <div class="content-row-block">
            <!--<div th:replace="fragments :: navbar"></div>-->
            <table width="100%" >
                <tr>
                    <td height="70"></td>
                    <td ></td>
                    <td ></td>
                </tr>
            </table>
            <table>
                <tr>
                    <td>
                        <img th:src="@{${posterURL} + 'poster' + ${movie.id} + '.jpg'}" width="225" height="330"/>
                    </td>

                    <td>
                        <table>
                            <tr>
                                <td>
                                    <b th:text="${movie.title}" />
                                </td>
                            </tr>
                            <tr>
                                <td th:text="${movie.plot}" />
                            </tr>


                            <tr>
                                <td>
                                    <table>
                                        <tr>
                                            <td>
                                                <b>Directed By: </b>
                                            </td>
                                        </tr>
                                        <tr th:each="director : ${directors}">
                                            <td >
                                                <a th:href="@{'/person?id=' + ${director.id}}" th:text="${director.toString()}" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <b>Rated: </b>
                                            </td>
                                            <td th:text="${movie.rated}" />
                                        </tr>
                                        <tr>
                                            <td>
                                                <b>Genre: </b>
                                            </td>
                                            <td th:text="${movie.genre}" />
                                        </tr>
                                        <tr>
                                            <td>
                                                <b>Released: </b>
                                            </td>
                                            <td th:text="${movie.released}" />
                                        </tr>
                                        <tr>
                                            <td>
                                                <b>Box Office: </b>
                                            </td>
                                            <td th:text="${movie.boxoffice}" />
                                        </tr>
                                        <tr>
                                            <td>
                                                <b>Runtime: </b>
                                            </td>
                                            <td th:text="${movie.runtime}" />
                                        </tr>
                                        <tr>
                                            <td>
                                                <b>Production: </b>
                                            </td>
                                            <td th:text="${movie.production}" />
                                        </tr>
                                        <tr>
                                            <td>
                                                <b>Website: </b>
                                            </td>
                                            <td>
                                                <a th:href="${movie.website}" th:text="${movie.website}" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td>
                                    <form action="/add_review" method="post">
                                        <table>
                                            <tr>
                                                <td th:text="@{'Rating: ' + ${rating} + '% (Reviews Counted: ' + ${reviewsCounted} + ')'}" />
                                            </tr>
                                            <tr>
                                                <td>
                                                    <b>Add Your Rating</b> <input type="range" min="0" max="100" step="1" name="rating" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                <textarea rows="4" cols="50" name="reviewtext" maxlength="520">Add Review (Optional)
                                                </textarea>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input type="submit" />
                                                </td>
                                            </tr>
                                        </table>
                                        <input type="hidden" th:value="${movie.id}" name="movieID" />
                                    </form>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td>
                        <b>Trailer</b>
                    </td>
                </tr>
                <tr>
                    <td><video th:src="@{${trailerURL} + 'trailer' + ${movie.id} + '.mp4'}" type="video/mp4" width="400" controls="controls"/></td>
                </tr>
            </table>
            <table>
                <tr>
                <tr>
                    <td>
                        <b>CAST</b>
                    </td>
                </tr>
                    <td th:each="person : ${cast}">
                        <table>
                            <tr>
                                <td><img th:src="@{${photoURL} + 'pic' + ${person.id} + '.jpg'}" width="200" height="200"/></td>
                            </tr>
                            <tr>
                                <td><a th:href="@{'/person?id=' + ${person.id}}" th:text="${person.toString()}" /></td>
                            </tr>
                        </table>

                    </td>
                </tr>
            </table>

            <table>
                <tr>
                    <td>
                        <b>CRITIC REVIEWS</b>
                    </td>
                </tr>
                <tr th:each="cr : ${criticReviews}">
                    <table frame="box" width="600" rules="rows">
                        <tr>
                            <td>
                                <p th:text="@{${cr.userName} + '        Rating: ' + ${cr.rating} + '%' }"></p>
                            </td>
                        </tr>
                        <tr>
                            <td th:text="${cr.reviewText}" />
                        </tr>
                    </table>
                    <p th:utext="@{'&lt;br&gt;'}"></p>
                </tr>
            </table>

            <table>
                <tr>
                    <td>
                        <b>USER REVIEWS</b>
                    </td>
                </tr>
                <tr th:each="ur : ${userReviews}">
                    <table frame="box" width="600" rules="rows">
                        <tr>
                            <td>
                                <p th:text="@{${ur.userName} + '        Rating: ' + ${ur.rating} + '%'}" ></p>
                            </td>
                        </tr>
                        <tr>
                            <td th:text="${ur.reviewText}" />
                        </tr>
                    </table>
                    <p th:utext="@{'&lt;br&gt;'}"></p>
                </tr>
            </table>

        </div>

    </div>
</body>
</html>