<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head(${movie.title})"></head>

<body>
<div th:replace="fragments :: navbar"></div>
<div class="container container-fluid">
    <div id="movie-top" class="container">
        <div>
            <video th:src="@{${trailerURL} + 'trailer' + ${movie.id} + '.mp4'}" type="video/mp4" controls="controls"></video>
        </div>
        <h1 th:text="${movie.title}"/>
    </div>
    <div class="movie-information container-fluid">
        <div class="movie-first">
            <div class="movie-photo-wrapper">
                <img th:src="@{${posterURL} + 'poster' + ${movie.id} + '.jpg'}" alt="POSTER IMG"/>
            </div>
            <div id="movie-info" class="table-responsive">
                <table class="table">
                    <tr>
                        <td>Directed By: </td>
                        <td>
                            <p th:each="director : ${directors}">
                                <a th:href="@{'/person?id=' + ${director.id}}"
                                   th:text="${director.toString()}"/>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>Rated: </td>
                        <td th:text="${movie.rated}"/>
                    </tr>
                    <tr>
                        <td>Genre: </td>
                        <td th:text="${movie.genre.replace(&quot;,&quot;, &quot;,&nbsp;&quot;)}"/>
                    </tr>
                    <tr>
                        <td>Released: </td>
                        <td th:text="${movie.released}"/>
                    </tr>
                    <tr>
                        <td>Box Office:</td>
                        <td th:text="${movie.boxoffice}"/>
                    </tr>
                    <tr>
                        <td>Runtime</td>
                        <td th:text="${movie.runtime}"/>
                    </tr>
                    <tr>
                        <td>Production</td>
                        <td th:text="${movie.production}"/>
                    </tr>
                    <tr>
                        <td style="width: 100%;"><a th:href="${movie.website}">Visit their website</a></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="movie-second">
            <div class="movie-summary movie-stuff container-fluid">
                <h3>PLOT</h3>
                <p th:text="${movie.plot}"/>
            </div>
            <div class="movie-review movie-stuff container-fluid">
                <h3>REVIEW</h3>
                <form action="/add_review" method="post">
                    <table>
                        <tr th:if="${message != null}">
                            <td th:text="@{${message}}" />
                        </tr>
                        <tr>
                            <td th:text="@{'Rating: ' + ${rating} + ' (Reviews Counted: ' + ${reviewsCounted} + ')'}"/>
                        </tr>
                        <tr>
                            <td>
                                <b>Add Your Rating</b>
                                <input type="range" min="0" max="100" step="1" th:value="${movie.overallRating}" name="rating"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <textarea rows="4" cols="50" name="reviewtext" maxlength="520">Add Review (Optional)
                                </textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="submit"/>
                            </td>
                        </tr>
                    </table>
                    <input type="hidden" th:value="${movie.id}" name="contentID"/>
                </form>
            </div>
            <div class="movie-cast movie-stuff container-fluid">
                <h3>CAST</h3>
                <div class="cast-container container-fluid">
                    <a th:each="person : ${cast}" th:href="@{'/person?id=' + ${person.id}}">
                        <div class="cast-img-container">
                            <img th:src="@{${photoURL} + 'pic' + ${person.id} + '.jpg'}" alt="CAST IMAGE"/>
                        </div>
                        <p th:text="${person.toString()}"/>
                    </a>
                </div>
            </div>
            <div class="movie-c-reviews movie-stuff container-fluid">
                <h3>CRITIC REVIEWS</h3>
                <div th:each="cr : ${criticReviews}">
                    <table frame="box" width="600" rules="rows">
                        <tr>
                            <td>
                                <a th:href="@{'/profile?id=' + ${cr.userId}}" th:text="@{${cr.userName}}"></a>

                            </td>
                            <td th:text="@{'Rating: ' + ${cr.rating} + '%'}"/>
                            <td th:if="${session.account != null and cr.userId == session.account.id}">
                                <form action = "edit_review" method="get">
                                    <input type="hidden" th:value="${cr.id}" name="id" />
                                    <input type="submit" value="Edit" />
                                </form>
                            </td>
                            <td th:if="${session.account != null and cr.userId == session.account.id}">
                                <form action = "delete_review" method="post">
                                    <input type="hidden" th:value="${cr.id}" name="id" />
                                    <input type="submit" value="X" />
                                </form>
                            </td>
                        </tr>
                        <tr th:unless="${cr.reviewText == null}">
                            <td th:if="${session.account != null and cr.userId == session.account.id}" th:colspan="4" th:text="${cr.reviewText}"/>
                            <td th:unless="${session.account != null and cr.userId == session.account.id}" th:colspan="2" th:text="${cr.reviewText}"/>
                        </tr>
                    </table>
                    <p th:utext="@{'&lt;br&gt;'}"></p>
                </div>
            </div>
            <div class="movie-u-reviews movie-stuff container-fluid">
                <h3>USER REVIEWS</h3>
                <div th:if="${userReviews.size() == 0}">
                    <h3>NO REVIEWS</h3>
                </div>
                <div th:each="ur : ${userReviews}">
                    <table frame="box" width="600" rules="rows">
                        <tr>
                            <td>
                                <a th:href="@{'/profile?id=' + ${ur.userId}}" th:text="@{${ur.userName}}"></a>

                            </td>
                            <td th:text="@{'Rating: ' + ${ur.rating} + '%'}"/>
                            <td th:if="${session.account != null and ur.userId == session.account.id}">
                                <form action = "edit_review" method="get">
                                    <input type="hidden" th:value="${ur.id}" name="id" />
                                    <input type="submit" value="Edit" />
                                </form>
                            </td>
                            <td th:if="${session.account != null and ur.userId == session.account.id}">
                                <form action = "delete_review" method="post">
                                    <input type="hidden" th:value="${ur.id}" name="id" />
                                    <input type="submit" value="X" />
                                </form>
                            </td>
                        </tr>
                        <tr th:unless="${ur.reviewText == null}">
                            <td th:if="${session.account != null and ur.userId == session.account.id}" th:colspan="4" th:text="${ur.reviewText}"/>
                            <td th:unless="${session.account != null and ur.userId == session.account.id}" th:colspan="2" th:text="${ur.reviewText}"/>
                        </tr>
                    </table>
                    <p th:utext="@{'&lt;br&gt;'}"></p> <!-- th:if="${}"-->
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments :: footer"></div>
</body>
</html>