<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head(AllMovies)"></head>

<body>
<div th:replace="fragments :: navbar"></div>
    <div class="container container-fluid">
        <div class="content-row-block">
        <!--<div th:replace="fragments :: navbar"></div>-->
            <table width="100%" >
                <tr>
                    <td height="75"></td>
                    <td ></td>
                    <td ></td>
                </tr>
            </table>
            <table>
                <tr>
                    <td colspan="3">
                        <h2>
                            ALL MOVIES
                        </h2>
                    </td>
                </tr>
                <tr>
                    <form action="/movies" method="get">
                        <div class="form-group row">
                            <td>
                                <select class="form-control" name="sortBy">
                                    <option th:each="crit:${sortCriteria}"
                                            th:value="${crit}"
                                            th:text="${crit}"
                                            th:selected="${crit.toString().equals(sortBy)}"/>
                                </select>
                            </td>
                            <td>
                                <select class="form-control" name="sortDirection">
                                    <option th:each="dir:${sortDirections}"
                                            th:value="${dir}"
                                            th:text="${dir}"
                                            th:selected="${dir.toString().equals(sortDirection)}"/>
                                </select>
                            </td>
                            <td>
                                <input type="submit" value="Sort"/>
                            </td>
                        </div>

                    </form>
                </tr>
            </table>

            <table frame="above" rules="rows" cellspacing="10">
                <tr th:each="movie : ${movies}">
                    <div th:if="${movie.hasBeenRated()}">
                        <td th:text="@{${decimalFormat.format(movie.getOverallRating())} + '%'}" />
                    </div>
                    <div th:unless="${movie.hasBeenRated()}">
                        <td th:text="@{'N/A'}" />
                    </div>
                    <td>
                        <img th:src="@{${posterURL} + 'poster' + ${movie.id} + '.jpg'}" width="90" height="132"/>
                    </td>
                    <td>
                        <a th:href="@{'/movie?id=' + ${movie.id}}" th:text="${movie.title}" />
                        <p th:text="@{'(' + ${movie.year} + ')'}" ></p>
                    </td>

                </tr>
            </table>
        </div>
    </div>
</body>
</html>
