<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head(${person.toString()})"></head>
<body>
<div th:replace="fragments :: navbar"></div>
<div class="container container-fluid">
    <div id="movie-top" class="container">
        <h1 th:text="${person.toString()}"/>
    </div>
    <div class="movie-information container-fluid">
        <div class="movie-first">
            <div class="movie-photo-wrapper">
                <img th:src="@{${photoURL} + 'pic' + ${person.id} + '.jpg'}" alt="POSTER IMG"/>
            </div>
        </div>
        <div class="movie-second">
            <div class="movie-summary movie-stuff container-fluid">
                <h3>BIOGRAPHY</h3>
                <div th:if="${person.biography == null or person.biography.equals('')}">
                    <p>NO BIO</p>
                </div>
                <p th:text="${person.biography}"/>
            </div>

            <div class="person-films movie-stuff container-fluid">
                <h3>FILMOGRAPHY</h3>
                <div th:if="${films.size() == 0}">
                    <p>NO FILMS</p>
                </div>
                <div class="cast-container container-fluid">
                    <a th:each="film : ${films}" th:href="@{'/movie?id=' + ${film.id}}">
                        <div class="cast-img-container">
                            <img th:src="@{${posterURL} + 'poster' + ${film.id} + '.jpg'}" alt="CAST IMAGE"/>
                        </div>
                        <p th:text="${film.title}"/>
                    </a>
                </div>
            </div>

            <div class="person-tv movie-stuff container-fluid">
                <h3>TV</h3>
                <div th:if="${shows.size() == 0}">
                    <p>NO SHOWS</p>
                </div>
                <div class="cast-container container-fluid">
                    <a th:each="show : ${shows}" th:href="@{'/show?id=' + ${show.id}}">
                        <div class="cast-img-container">
                            <img th:src="@{${tvPosterURL} + 'tvposter' + ${show.id} + '.jpg'}" alt="CAST IMAGE"/>
                        </div>
                        <p th:text="${show.seriesName}"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments :: footer"></div>
</body>
</html>