<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="${person.name}">Person Name</title>
</head>
<body>
<table>
    <tr>
        <td>
            <img th:src="${photoURL}" width="200" height="200"/>
        </td>

        <td>
            <table>
                <tr>
                    <td>
                        <b th:text="${person.name}" />
                    </td>
                </tr>
                <tr>
                    <td th:text="${person.bio}" />
                </tr>
            </table>
        </td>
    </tr>
</table>

<table>
    <tr>
    <tr>
        <td>
            <b>FILMOGRAPHY</b>
        </td>
    </tr>
    <td th:each="film : ${films}">
        <table>
            <tr>
                <td><img th:src="@{'http://130.245.171.50/posters/' + ${film.title} + '.jpg'}" width="200" height="200"/></td>
            </tr>
            <tr>
                <td><a th:href="@{'/movie?id=' + ${film.id}}" th:text="${film.title}" /></td>
            </tr>
        </table>
    </td>
    </tr>
</table>
</body>
</html>