<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head(${user.toString()})"></head>
<body>
<div th:replace="fragments :: navbar"></div>
<div class="container container-fluid">
    <div class="content-row-block">
        <!--<div th:replace="fragments :: navbar"></div>-->
        <div id="movie-top" class="container">
            <h1 th:text="${user.toString()}"/>
        </div>
        <div class="movie-information container-fluid">
            <div class="movie-second">
                <div class="movie-u-reviews movie-stuff container-fluid">
                    <h3>MOVIE REVIEWS</h3>
                    <div th:if="${movieReviews.size() == 0}">
                        <p>NO REVIEWS</p>
                    </div>
                    <div th:each="ur : ${movieReviews}">

                        <div class="card border-danger">
                            <div class="card-header container-fluid" th:text="@{'Rating: ' + ${ur.rating} + '%'}"></div>
                            <div class="card-body text-danger container-fluid">
                                <h5 class="card-title">
                                    <a th:href="@{'/movie?id=' + ${ur.contentId}}" th:text="@{${ur.contentName}}"></a>
                                </h5>
                                <p class="card-text" th:unless="${ur.reviewText == null}" th:text="${ur.reviewText}">
                                </p>
                                <div class="row">
                                    <form th:if="${session.account != null and ur.userId == session.account.id}" action = "edit_review" method="get">
                                        <input type="hidden" th:value="${ur.id}" name="id" />
                                        <input class="btn btn-outline-danger" type="submit" value="Edit" />
                                    </form>
                                    <form th:if="${session.account != null} and ${ur.userId == session.account.id or session.account.accountType == T(centigrade.accounts.AccountType).ADMIN}" action = "delete_review" method="post">
                                        <input type="hidden" th:value="${ur.id}" name="id" />
                                        <input class="btn btn-outline-danger" type="submit" value="X" />
                                    </form>
                                </div>
                            </div>
                        </div>
                        <p th:utext="@{'&lt;br&gt;'}"></p> <!-- th:if="${}"-->
                    </div>
                </div>

                <div class="movie-u-reviews movie-stuff container-fluid">
                    <h3>TV SHOW REVIEWS</h3>
                    <div th:if="${showReviews.size() == 0}">
                        <p>NO REVIEWS</p>
                    </div>
                    <div th:each="ur : ${showReviews}">

                        <div class="card border-danger">
                            <div class="card-header container-fluid" th:text="@{'Rating: ' + ${ur.rating} + '%'}"></div>
                            <div class="card-body text-danger container-fluid">
                                <h5 class="card-title">
                                    <a th:href="@{'/show?id=' + ${ur.contentId}}" th:text="@{${ur.contentName}}"></a>
                                </h5>
                                <p class="card-text" th:unless="${ur.reviewText == null}" th:text="${ur.reviewText}">
                                </p>
                                <div class="row">
                                    <form th:if="${session.account != null and ur.userId == session.account.id}" action = "edit_review" method="get">
                                        <input type="hidden" th:value="${ur.id}" name="id" />
                                        <input class="btn btn-outline-danger" type="submit" value="Edit" />
                                    </form>
                                    <form th:if="${session.account != null} and ${ur.userId == session.account.id or session.account.accountType == T(centigrade.accounts.AccountType).ADMIN}" action = "delete_review" method="post">
                                        <input type="hidden" th:value="${ur.id}" name="id" />
                                        <input class="btn btn-outline-danger" type="submit" value="X" />
                                    </form>
                                </div>
                            </div>
                        </div>
                        <p th:utext="@{'&lt;br&gt;'}"></p> <!-- th:if="${}"-->
                    </div>
                </div>

                <div class="user-wish-list movie-stuff container-fluid">
                    <h3>WISH LIST</h3>
                    <div th:if="${wishList.size() == 0}">
                        <p>NO ITEMS</p>
                    </div>

                    <table>
                        <td th:each="item : ${wishList}">
                            <table>
                                <tr th:if="${session.account != null and user.id == session.account.id}">
                                    <form action="remove_from_wishlist" method="post">
                                        <input type="hidden" th:value="${item.getId()}" name="contentID" />
                                        <input class="btn btn-outline-danger" type="submit" value="X" />
                                    </form>
                                </tr>
                                <tr>
                                    <td th:if="${item.getType().equals('movie')}">
                                        <img th:src="@{${posterURL} + 'poster' + ${item.getId()} + '.jpg'}" width="200" height="200"/>
                                    </td>
                                    <td th:unless="${item.getType().equals('movie')}">
                                        <img th:src="@{${tvPosterURL} + 'tvposter' + ${item.getId()} + '.jpg'}" width="200" height="200"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a th:href="@{'/' + ${item.getType()} + '?id=' + ${item.getId()}}" th:text="${item.getTitle()}"/>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </table>
                </div>

                <div class="user-wish-list movie-stuff container-fluid">
                    <h3>NOT INTERESTED LIST</h3>
                    <div th:if="${notInterestedList.size() == 0}">
                        <p>NO ITEMS</p>
                    </div>

                    <table>
                        <td th:each="ni_item : ${notInterestedList}">
                            <table>
                                <tr th:if="${session.account != null and user.id == session.account.id}">
                                    <form action="remove_from_not_interested_list" method="post">
                                        <input type="hidden" th:value="${ni_item.getId()}" name="contentID" />
                                        <input class="btn btn-outline-danger" type="submit" value="X" />
                                    </form>
                                </tr>
                                <tr>
                                    <td th:if="${ni_item.getType().equals('movie')}">
                                        <img th:src="@{${posterURL} + 'poster' + ${ni_item.getId()} + '.jpg'}" width="200" height="200"/>
                                    </td>
                                    <td th:unless="${ni_item.getType().equals('movie')}">
                                        <img th:src="@{${tvPosterURL} + 'tvposter' + ${ni_item.getId()} + '.jpg'}" width="200" height="200"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a th:href="@{'/' + ${ni_item.getType()} + '?id=' + ${ni_item.getId()}}" th:text="${ni_item.getTitle()}"/>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

</body>
</html>