<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head(${user.toString()})"></head>
<body>
<div th:replace="fragments :: navbar"></div>
<div class="container container-fluid">
    <div class="content-row-block">
        <!--<div th:replace="fragments :: navbar"></div>-->
        <div id="movie-top" class="container">
            <h1 th:if="${user.accountType == T(centigrade.accounts.AccountType).ADMIN}" th:text="@{${user.toString()} + ' (Admin)'}"/>
            <h1 th:if="${user.accountType == T(centigrade.accounts.AccountType).CRITIC}" th:text="@{${user.toString()} + ' (Critic)'}"/>
            <h1 th:if="${user.accountType == T(centigrade.accounts.AccountType).USER}" th:text="${user.toString()}"/>
        </div>
        <div id="notification" />
        <div class="movie-information container-fluid">
            <div class="movie-first">
                <div class="movie-photo-wrapper">
                    <img th:src="@{${photoURL} + 'user' + ${user.id} + '.jpg'}" alt="POSTER IMG"/>
                </div>

                <form th:if="${session.account != null and user.id == session.account.id}" action = "upload_photo" method="post" enctype="multipart/form-data">
                    <h5>Upload a new profile picture!</h5>
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" name="file"/>
                        </div>
                    </div>
                    <div class="input-group">
                        <button class="btn btn-outline-secondary upload-button" type="submit" value="Upload">Upload</button>
                    </div>
                </form>

                <!-- DELETE AND REPORT BUTTONS -->
                <div class="padding-top-bottom row">
                    <button th:if="${session.account != null} and ${session.account.accountType == T(centigrade.accounts.AccountType).ADMIN and session.account.id != user.id}" th:onclick="@{'deleteUser(' + ${user.id}} + ')'" class="btn btn-outline-danger margin-zero-auto"  style="width: 90%;">Delete User</button>
                    <button th:if="${session.account != null} and ${session.account.accountType != T(centigrade.accounts.AccountType).ADMIN and session.account.id != user.id}" class="btn btn-outline-danger margin-zero-auto"  style="width: 90%;"  data-toggle="modal" data-target="#report-user-modal">Report User</button>
                </div>

                <!-- Report User Modal -->
                <div class="modal fade" id="report-user-modal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Report User</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <h7>Reason</h7>
                                <textarea id="report-reason-textarea" class="form-control" rows="3"></textarea>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button class="btn btn-outline-danger" th:onclick="@{'reportUser(' + ${user.id}} + ')'" data-dismiss="modal">Submit Report</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="movie-second">
                <div th:if="${bestReviewed != null}" class="movie-u-reviews movie-stuff container-fluid">
                    <h3>BEST REVIEWED</h3>
                    <div class="card border-danger">
                        <div class="card-header container-fluid" th:text="@{'Rating: ' + ${bestReviewed.rating} + '%'}"></div>
                        <div class="card-body text-danger container-fluid">
                            <div class="row card-text">
                                <div class="col-sm-3">
                                    <div class="row">
                                        <img th:if="${bestReviewed.getContentType().equals('Movie')}" class="rating-img" width="100" height="100" th:src="@{${posterURL} + 'poster' + ${bestReviewed.contentId} + '.jpg'}" alt="MOVIE IMAGE"/>
                                        <img th:if="${bestReviewed.getContentType().equals('Show')}" class="rating-img" width="100" height="100" th:src="@{${tvPosterURL} + 'tvposter' + ${bestReviewed.contentId} + '.jpg'}" alt="MOVIE IMAGE"/>
                                    </div>
                                    <div class="row">
                                        <a th:if="${bestReviewed.getContentType().equals('Movie')}" class="rating-user" th:href="@{'/movie?id=' + ${bestReviewed.contentId}}" th:text="@{${bestReviewed.contentName}}"></a>
                                        <a th:if="${bestReviewed.getContentType().equals('Show')}" class="rating-user" th:href="@{'/show?id=' + ${bestReviewed.contentId}}" th:text="@{${bestReviewed.contentName}}"></a>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <p class="card-text" th:unless="${bestReviewed.reviewText == null}" th:text="${bestReviewed.reviewText}"></p>
                                </div>
                                <div class="col-sm-3">
                                    <div class="row card-text button-row" th:if="${session.account != null} and ${bestReviewed.userId == session.account.id or session.account.accountType == T(centigrade.accounts.AccountType).ADMIN}">
                                        <form action = "delete_review" method="post">
                                            <div class="form-group">
                                                <input type="hidden" th:value="${bestReviewed.id}" name="id" />
                                                <input type="hidden" th:value="@{'true'}" name="fromProfile" />
                                                <button class="btn btn-outline-danger" type="submit" value="X"><i class="fas fa-trash"></i> Delete</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="row card-text button-row" th:if="${session.account != null} and ${bestReviewed.userId != session.account.id and session.account.accountType != T(centigrade.accounts.AccountType).ADMIN}">
                                        <form action = "report_review" method="get">
                                            <div class="form-group">
                                                <input type="hidden" th:value="${bestReviewed.id}" name="id" />
                                                <input type="hidden" th:value="@{'true'}" name="fromProfile" />
                                                <button class="btn btn-outline-danger" type="submit" value="Report"><i class="fas fa-flag"></i> Report</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="row card-text button-row" th:if="${session.account != null and bestReviewed.userId == session.account.id}">
                                        <form action = "edit_review" method="get">
                                            <div class="form-group">
                                                <input type="hidden" th:value="${bestReviewed.id}" name="id" />
                                                <input type="hidden" th:value="@{'true'}" name="fromProfile" />
                                                <button class="btn btn-outline-danger" type="submit" value="Edit"><i class="fas fa-edit"></i> Edit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p th:utext="@{'&lt;br&gt;'}"></p>
                </div>

                <div th:if="${worstReviewed != null}" class="movie-u-reviews movie-stuff container-fluid">
                    <h3>WORST REVIEWED</h3>
                    <div class="card border-danger">
                        <div class="card-header container-fluid" th:text="@{'Rating: ' + ${worstReviewed.rating} + '%'}"></div>
                        <div class="card-body text-danger container-fluid">
                            <div class="row card-text">
                                <div class="col-sm-3">
                                    <div class="row">
                                        <img th:if="${worstReviewed.getContentType().equals('Movie')}" class="rating-img" width="100" height="100" th:src="@{${posterURL} + 'poster' + ${worstReviewed.contentId} + '.jpg'}" alt="MOVIE IMAGE"/>
                                        <img th:if="${worstReviewed.getContentType().equals('Show')}" class="rating-img" width="100" height="100" th:src="@{${tvPosterURL} + 'tvposter' + ${worstReviewed.contentId} + '.jpg'}" alt="MOVIE IMAGE"/>
                                    </div>
                                    <div class="row">
                                        <a th:if="${worstReviewed.getContentType().equals('Movie')}" class="rating-user" th:href="@{'/movie?id=' + ${worstReviewed.contentId}}" th:text="@{${worstReviewed.contentName}}"></a>
                                        <a th:if="${worstReviewed.getContentType().equals('Show')}" class="rating-user" th:href="@{'/show?id=' + ${worstReviewed.contentId}}" th:text="@{${worstReviewed.contentName}}"></a>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <p class="card-text" th:unless="${worstReviewed.reviewText == null}" th:text="${worstReviewed.reviewText}"></p>
                                </div>
                                <div class="col-sm-3">
                                    <div class="row card-text button-row" th:if="${session.account != null} and ${worstReviewed.userId == session.account.id or session.account.accountType == T(centigrade.accounts.AccountType).ADMIN}">
                                        <form action = "delete_review" method="post">
                                            <div class="form-group">
                                                <input type="hidden" th:value="${worstReviewed.id}" name="id" />
                                                <input type="hidden" th:value="@{'true'}" name="fromProfile" />
                                                <button class="btn btn-outline-danger" type="submit" value="X"><i class="fas fa-trash"></i> Delete</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="row card-text button-row" th:if="${session.account != null} and ${worstReviewed.userId != session.account.id and session.account.accountType != T(centigrade.accounts.AccountType).ADMIN}">
                                        <form action = "report_review" method="get">
                                            <div class="form-group">
                                                <input type="hidden" th:value="${worstReviewed.id}" name="id" />
                                                <input type="hidden" th:value="@{'true'}" name="fromProfile" />
                                                <button class="btn btn-outline-danger" type="submit" value="Report"><i class="fas fa-flag"></i> Report</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="row card-text button-row" th:if="${session.account != null and worstReviewed.userId == session.account.id}">
                                        <form action = "edit_review" method="get">
                                            <div class="form-group">
                                                <input type="hidden" th:value="${worstReviewed.id}" name="id" />
                                                <input type="hidden" th:value="@{'true'}" name="fromProfile" />
                                                <button class="btn btn-outline-danger" type="submit" value="Edit"><i class="fas fa-edit"></i> Edit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p th:utext="@{'&lt;br&gt;'}"></p>
                </div>


                <div class="movie-u-reviews movie-stuff container-fluid">
                    <h3>MOVIE REVIEWS</h3>
                    <div th:if="${movieReviews.size() == 0}">
                        <p class="center-p">NO REVIEWS</p>
                    </div>
                    <div th:each="ur : ${movieReviews}">
                        <div class="card border-danger">
                            <div class="card-header container-fluid" th:text="@{'Rating: ' + ${ur.rating} + '%'}"></div>
                            <div class="card-body text-danger container-fluid">
                                <div class="row card-text">
                                    <div class="col-sm-3">
                                        <div class="row">
                                            <img class="rating-img" width="100" height="100" th:src="@{${posterURL} + 'poster' + ${ur.contentId} + '.jpg'}" alt="MOVIE IMAGE"/>
                                        </div>
                                        <div class="row">
                                            <a class="rating-user" th:href="@{'/movie?id=' + ${ur.contentId}}" th:text="@{${ur.contentName}}"></a>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="card-text" th:unless="${ur.reviewText == null}" th:text="${ur.reviewText}"></p>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="row card-text button-row" th:if="${session.account != null} and ${ur.userId == session.account.id or session.account.accountType == T(centigrade.accounts.AccountType).ADMIN}">
                                            <form action = "delete_review" method="post">
                                                <div class="form-group">
                                                    <input type="hidden" th:value="${ur.id}" name="id" />
                                                    <input type="hidden" th:value="@{'true'}" name="fromProfile" />
                                                    <button class="btn btn-outline-danger" type="submit" value="X"><i class="fas fa-trash"></i> Delete</button>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="row card-text button-row" th:if="${session.account != null} and ${ur.userId != session.account.id and session.account.accountType != T(centigrade.accounts.AccountType).ADMIN}">
                                            <form action = "report_review" method="get">
                                                <div class="form-group">
                                                    <input type="hidden" th:value="${ur.id}" name="id" />
                                                    <input type="hidden" th:value="@{'true'}" name="fromProfile" />
                                                    <button class="btn btn-outline-danger" type="submit" value="Report"><i class="fas fa-flag"></i> Report</button>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="row card-text button-row" th:if="${session.account != null and ur.userId == session.account.id}">
                                            <form action = "edit_review" method="get">
                                                <div class="form-group">
                                                    <input type="hidden" th:value="${ur.id}" name="id" />
                                                    <input type="hidden" th:value="@{'true'}" name="fromProfile" />
                                                    <button class="btn btn-outline-danger" type="submit" value="Edit"><i class="fas fa-edit"></i> Edit</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p th:utext="@{'&lt;br&gt;'}"></p> <!-- th:if="${}"-->
                    </div>
                </div>

                <div class="movie-u-reviews movie-stuff container-fluid">
                    <h3>TV SHOW REVIEWS</h3>
                    <div th:if="${showReviews.size() == 0}">
                        <p class="center-p">NO REVIEWS</p>
                    </div>
                    <div th:each="ur : ${showReviews}">
                        <div class="card border-danger">
                            <div class="card-header container-fluid" th:text="@{'Rating: ' + ${ur.rating} + '%'}"></div>
                            <div class="card-body text-danger container-fluid">
                                <div class="row card-text">
                                    <div class="col-sm-3">
                                        <div class="row">
                                            <img class="rating-img" width="100" height="100" th:src="@{${tvPosterURL} + 'tvposter' + ${ur.contentId} + '.jpg'}" alt="SHOW IMAGE"/>
                                        </div>
                                        <div class="row">
                                            <a class="rating-user" th:href="@{'/show?id=' + ${ur.contentId}}" th:text="@{${ur.contentName}}"></a>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="card-text" th:unless="${ur.reviewText == null}" th:text="${ur.reviewText}"></p>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="row card-text button-row" th:if="${session.account != null} and ${ur.userId == session.account.id or session.account.accountType == T(centigrade.accounts.AccountType).ADMIN}">
                                            <form action = "delete_review" method="post">
                                                <div class="form-group">
                                                    <input type="hidden" th:value="${ur.id}" name="id" />
                                                    <input type="hidden" th:value="@{'true'}" name="fromProfile" />
                                                    <button class="btn btn-outline-danger" type="submit" value="X"><i class="fas fa-trash"></i> Delete</button>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="row card-text button-row" th:if="${session.account != null} and ${ur.userId != session.account.id and session.account.accountType != T(centigrade.accounts.AccountType).ADMIN}">
                                            <form action = "report_review" method="get">
                                                <div clas="form-group">
                                                    <input type="hidden" th:value="${ur.id}" name="id" />
                                                    <input type="hidden" th:value="@{'true'}" name="fromProfile" />
                                                    <button class="btn btn-outline-danger" type="submit" value="Report"><i class="fas fa-flag"></i> Report</button>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="row card-text button-row" th:if="${session.account != null and ur.userId == session.account.id}">
                                            <form action = "edit_review" method="get">
                                                <div class="form-group">
                                                    <input type="hidden" th:value="${ur.id}" name="id" />
                                                    <input type="hidden" th:value="@{'true'}" name="fromProfile" />
                                                    <button class="btn btn-outline-danger" type="submit" value="Edit"><i class="fas fa-edit"></i> Edit</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p th:utext="@{'&lt;br&gt;'}"></p> <!-- th:if="${}"-->
                    </div>
                </div>

                <div class="user-wish-list movie-stuff container-fluid">
                    <h3>WISH LIST</h3>
                    <div th:if="${wishList.size() == 0}">
                        <p class="center-p">NO ITEMS</p>
                    </div>

                    <div class="row padding-top-bottom">
                        <div class="col-sm-4" th:each="item : ${wishList}">
                            <div class="card" th:if="${item.getType().equals('movie')}">
                                <img class="card-img-top" th:src="@{${posterURL} + 'poster' + ${item.getId()} + '.jpg'}" alt="Movie Image" />
                                <div class="card-body">
                                    <h5 class="card-title center-p"><a th:href="@{'/' + ${item.getType()} + '?id=' + ${item.getId()}}" th:text="${item.getTitle()}"/></h5>
                                    <p th:if="${session.account != null and user.id == session.account.id}">
                                        <form style="text-align: center;" action="remove_from_wishlist" method="post">
                                            <input type="hidden" th:value="${item.getId()}" name="contentID" />
                                            <button class="btn btn-outline-danger" type="submit" value="X"><i class="fas fa-trash"></i> Delete</button>
                                        </form>
                                    </p>
                                </div>
                            </div>
                            <div class="card" style="margin-bottom: 0.5em;" th:unless="${item.getType().equals('movie')}">
                                <img class="card-img-top" th:src="@{${tvPosterURL} + 'tvposter' + ${item.getId()} + '.jpg'}" alt="Show Image" />
                                <div class="card-body">
                                    <h5 class="card-title center-p"><a th:href="@{'/' + ${item.getType()} + '?id=' + ${item.getId()}}" th:text="${item.getTitle()}"/></h5>
                                    <p th:if="${session.account != null and user.id == session.account.id}">
                                        <form style="text-align: center;" action="remove_from_wishlist" method="post">
                                            <input type="hidden" th:value="${item.getId()}" name="contentID" />
                                            <button class="btn btn-outline-danger" type="submit" value="X"><i class="fas fa-trash"></i> Delete</button>
                                        </form>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="user-wish-list movie-stuff container-fluid">
                    <h3>NOT INTERESTED LIST</h3>
                    <div th:if="${notInterestedList.size() == 0}">
                        <p class="center-p">NO ITEMS</p>
                    </div>

                    <div class="row padding-top-bottom">
                        <div class="col-sm-4" th:each="ni_item : ${notInterestedList}">
                            <div class="card" th:if="${ni_item.getType().equals('movie')}">
                                <img class="card-img-top" th:src="@{${posterURL} + 'poster' + ${ni_item.getId()} + '.jpg'}" alt="Movie Image" />
                                <div class="card-body">
                                    <h5 class="card-title center-p"><a th:href="@{'/' + ${ni_item.getType()} + '?id=' + ${ni_item.getId()}}" th:text="${ni_item.getTitle()}"/></h5>
                                    <p th:if="${session.account != null and user.id == session.account.id}">
                                        <form style="text-align:center;" action="remove_from_not_interested_list" method="post">
                                            <input type="hidden" th:value="${ni_item.getId()}" name="contentID" />
                                            <button class="btn btn-outline-danger" type="submit" value="X"><i class="fas fa-trash"></i> Delete</button>
                                        </form>
                                    </p>
                                </div>
                            </div>
                            <div class="card" th:unless="${ni_item.getType().equals('movie')}">
                                <img class="card-img-top" th:src="@{${tvPosterURL} + 'tvposter' + ${ni_item.getId()} + '.jpg'}" alt="Show Image" />
                                <div class="card-body">
                                    <h5 class="card-title center-p"><a th:href="@{'/' + ${ni_item.getType()} + '?id=' + ${ni_item.getId()}}" th:text="${ni_item.getTitle()}"/></h5>
                                    <p th:if="${session.account != null and user.id == session.account.id}">
                                    <form style="text-align:center;" action="remove_from_not_interested_list" method="post">
                                        <input type="hidden" th:value="${ni_item.getId()}" name="contentID" />
                                        <button class="btn btn-outline-danger" type="submit" value="X"><i class="fas fa-trash"></i> Delete</button>
                                    </form>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div th:replace="fragments :: footer"></div>
<script type="text/javascript" th:src="@{/js/profile.js}"></script>
</body>
</html>