<table class="table table-striped" id="critic-applications-table">
    <thead>
    <th scope="col">Message</th>
    <th scope="col">Review Text</th>
    <th scope="col">Reviewer</th>
    <th scope="col"></th>
    </thead>
    <tbody>
    <tr th:each="r : ${reportedReviews}">
        <td th:text="${r.message}">
        </td>
        <td>
            <div class="card border-danger">
                <div class="card-header container-fluid" th:text="@{'Rating: ' + ${r.review.rating} + '%'}"></div>
                <div class="card-body text-danger container-fluid">
                    <h5 class="card-title">
                        <a th:if="${r.review.contentType.equals('Movie')}" th:href="@{'/movie?id=' + ${r.review.contentId}}" th:text="@{${r.review.contentName}}"></a>
                        <a th:if="${r.review.contentType.equals('Show')}" th:href="@{'/show?id=' + ${r.review.contentId}}" th:text="@{${r.review.contentName}}"></a>
                    </h5>
                    <p class="card-text" th:unless="${r.review.reviewText == null}" th:text="${r.review.reviewText}">
                    </p>
                </div>
            </div>
        </td>
        <td>
            <a th:text="${r.review.userName}" th:href="@{'/profile?id=' + ${r.review.userId}}"></a>
        </td>
        <td>
            <button th:onclick="@{'allowReportedReview(' + ${r.id}} + ')'" class="btn btn-outline-danger">Allow</button>
            <button th:onclick="@{'deleteReportedReview(' + ${r.review.id}} + ')'" class="btn btn-outline-danger">Delete</button>
        </td>
    </tr>
    </tbody>
</table>