<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head(AllMovies)"></head>

<body>
<div th:replace="fragments :: navbar"></div>
<div class="container container-fluid">
    <div class="content-row-block">
        <table id="search-results" width="100%">
            <!--
            <tr>
                <td></td>
                <td><b>Title</b></td>
                <td><b>Plot</b></td>
            </tr>
            <tr>
                <td><b>Movies</b></td>
            </tr>
            <tr th:each="movie : ${movies}">
                <td>
                    <img th:src="@{${moviePosterURL} + 'poster' + ${movie.id} + '.jpg'}" width="45" height="66"/>
                </td>
                <td><a th:href="@{'/movie?id=' + ${movie.id}}" th:text="${movie.title}"/></td>
                <td th:text="${movie.plot}"/>
            </tr>
            <tr th:if="${movies == null}">
                <td><b>NO RESULTS FOUND</b></td>
            </tr>
            <tr>
                <td><b>TV Shows</b></td>
            </tr>
            <tr th:each="show : ${shows}">
                <td>
                    <img th:src="@{${showPosterURL} + 'tvposter' + ${show.id} + '.jpg'}" width="45" height="66"/>
                </td>
                <td><a th:href="@{'/show?id=' + ${show.id}}" th:text="${show.seriesName}"/></td>
                <td th:text="${show.overview}"/>
            </tr>
            <tr th:if="${shows == null}">
                <td><b>NO RESULTS FOUND</b></td>
            </tr>
            -->
        </table>

        <ul class="pagination">
        </ul>

    </div>
</div>
<script type="text/javascript" th:src="@{/js/movies.js}"></script>
</body>
</html>