<h6 th:if="${people == null}">NO RESULTS FOUND</h6>
<table class="table table-striped" th:if="${people != null}">
    <thead>
    <tr>
        <th scope="col" colspan="3" style="text-align:center;">Name</th>
        <th scope="col">Bio</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="person : ${people}">
        <td><img th:src="@{${personPhotoURL} + 'pic' + ${person.id} + '.jpg'}" width="45" height="75"/></td>
        <td colspan="2"><a th:href="@{'/person?id=' + ${person.id}}" th:text="${person.toString()}"/></td>
        <td th:text="${person.biography}"/>
    </tr>
    </tbody>
</table>