<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head(${show.seriesName})"></head>
<body>
<div th:replace="fragments :: navbar"></div>
<div class="container container-fluid">
    <div id="movie-top" class="container">
        <h1 th:text="${show.seriesName}"/>
    </div>
    <div class="movie-information container-fluid">
        <div class="movie-first">
            <div class="movie-photo-wrapper">
                <img th:src="@{${posterURL} + 'tvposter' + ${show.id} + '.jpg'}" alt="POSTER IMG"/>
            </div>
            <div id="movie-info" class="table-responsive">
                <table class="table">
                    <tr>
                        <td>
                            <b>Rated: </b>
                        </td>
                        <td th:text="${show.contentRating}"/>
                    </tr>
                    <tr>
                        <td>
                            <b>Genre: </b>
                        </td>
                        <td th:text="${show.genres}"/>
                    </tr>
                    <tr>
                        <td>
                            <b>First Aired: </b>
                        </td>
                        <td th:text="${show.firstAired}"/>
                    </tr>
                    <tr>
                        <td>
                            <b>Language: </b>
                        </td>
                        <td th:text="${show.language}"/>
                    </tr>
                    <tr>
                        <td>
                            <b>Runtime: </b>
                        </td>
                        <td th:text="${show.runtime}"/>
                    </tr>
                    <tr>
                        <td>
                            <b>Network: </b>
                        </td>
                        <td th:text="${show.network}"/>
                    </tr>
                    <tr>
                        <td>
                            <b>Status: </b>
                        </td>
                        <td th:text="${show.status}"/>
                    </tr>
                </table>
            </div>
        </div>

        <div class="movie-second">
            <div class="movie-stuff container-fluid">
                <div class="row" style="padding: 0 15px 15px 15px;">
                    <form action="add_to_wishlist" method="post" style="margin-right: 15px;">
                        <input type="hidden" th:value="${show.id}" name="contentID" />
                        <button class="btn btn-outline-danger" type="submit" value="+" >Add To WishList <i class="fas fa-plus"></i></button>
                    </form>
                    <form action="add_to_not_interested_list" method="post">
                        <input type="hidden" th:value="${show.id}" name="contentID" />
                        <button class="btn btn-outline-danger" type="submit" value="+" >Add To Not-Interested List <i class="fas fa-plus"></i></button>
                    </form>
                </div>
            </div>
            <div class="movie-summary movie-stuff container-fluid">
                <h3>PLOT</h3>
                <p th:text="${show.overview}"/>
            </div>

            <div class="movie-review movie-stuff container-fluid">
                <h3>REVIEW</h3>
                <form action="/add_review" method="post">
                    <div class="form-group" th:if="${message != null}">
                        <h4 th:text="@{${message}}"></h4>
                    </div>
                    <div class="form-group">
                        <div style="padding-left: 15px;" class="row" th:if="${#strings.arraySplit(rating,'%')[0]} == -1.0">
                            <h4>Not Yet Rated</h4>
                        </div>
                        <div th:if="${#strings.arraySplit(rating,'%')[0]} != -1.0">
                            <div style="padding-left: 15px;" class="row" th:if="${#strings.arraySplit(rating,'%')[0]} &lt; 20.0">
                                <img style="padding-right: 15px;" th:src="@{/img/ratings/snow.png}" alt="Cold" />
                                <h4 th:text="@{${rating} + ' (Reviews Counted: ' + ${reviewsCounted} + ')'}"></h4>
                            </div>
                            <div style="padding-left: 15px;" class="row" th:unless="${#strings.arraySplit(rating,'%')[0]} &lt; 20.0">
                                <div style="padding-left: 15px;" class="row" th:if="${#strings.arraySplit(rating,'%')[0]} &lt; 40.0">
                                    <img style="padding-right: 15px;" th:src="@{/img/ratings/cloudy.png}" alt="Cloudy" />
                                    <h4 th:text="@{${rating} + ' (Reviews Counted: ' + ${reviewsCounted} + ')'}"></h4>
                                </div>
                                <div style="padding-left: 15px;" class="row" th:unless="${#strings.arraySplit(rating,'%')[0]} &lt; 40.0">
                                    <div style="padding-left: 15px;" class="row" th:if="${#strings.arraySplit(rating,'%')[0]} &lt; 60.0">
                                        <img style="padding-right: 15px;" th:src="@{/img/ratings/mediocre.png}" alt="Mediocre" />
                                        <h4 th:text="@{${rating} + ' (Reviews Counted: ' + ${reviewsCounted} + ')'}"></h4>
                                    </div>
                                    <div style="padding-left: 15px;" class="row" th:unless="${#strings.arraySplit(rating,'%')[0]} &lt; 60.0">
                                        <div style="padding-left: 15px;" class="row" th:if="${#strings.arraySplit(rating,'%')[0]} &lt; 80.0">
                                            <img style="padding-right: 15px;" th:src="@{/img/ratings/sun.png}" alt="Sunny" />
                                            <h4 th:text="@{${rating} + ' (Reviews Counted: ' + ${reviewsCounted} + ')'}"></h4>
                                        </div>
                                        <div style="padding-left: 15px;" class="row" th:unless="${#strings.arraySplit(rating,'%')[0]} &lt; 80.0">
                                            <img style="padding-right: 15px;" th:src="@{/img/ratings/flame.png}" alt="Hot" />
                                            <h4 th:text="@{${rating} + ' (Reviews Counted: ' + ${reviewsCounted} + ')'}"></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <label for="rating">Tell us what you think! Rate this show.</label>
                    </div>
                    <div class="form-group">
                        <img class="rating-icon" th:src="@{/img/ratings/snow.png}" alt="Cold" />
                        <input id="rating" type="range" min="0" max="100" step="20" th:value="${show.overallRating}" name="rating"/>
                        <img class="rating-icon" th:src="@{/img/ratings/flame.png}" alt="Hot" />
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" rows="4" cols="50" id="reviewtext" name="reviewtext" maxlength="520" placeholder="Add Review (Optional)"></textarea>
                    </div>
                    <input type="hidden" th:value="${show.id}" name="contentID"/>
                    <button type="submit" class="btn btn-danger mb-2">Submit</button>
                </form>
            </div>

            <div class="movie-cast movie-stuff container-fluid">
                <h3>CAST</h3>
                <div th:if="${cast.size() == 0}">
                    <p class="center-p">NO CAST</p>
                </div>
                <div class="cast-container container-fluid">
                    <a class="cast-link" th:each="person : ${cast}" th:href="@{'/person?id=' + ${person.id}}">
                        <div class="cast-img-container">
                            <img th:src="@{${photoURL} + 'pic' + ${person.id} + '.jpg'}" alt="CAST IMAGE"/>
                        </div>
                        <p th:text="${person.toString()}"/>
                    </a>
                </div>
            </div>

            <div id="seasons" class="show-seasons movie-stuff container-fluid">
                <h3>SEASONS</h3>
                <div class="row">
                    <div class="col-sm-2" th:each="i : ${#numbers.sequence(1, show.numSeasons)}">
                        <a style="margin-bottom: 5px;" class="btn btn-outline-danger" th:href="@{'/show?id=' + ${show.id} + '&amp;season=' + ${i} + '#seasons'}"
                           th:text="@{'Season ' + ${i}}"/>
                    </div>
                </div>
                <h4 style="padding: 0.25em;">Episode Titles</h4>
                <ol style="margin-left: 1.5em; margin-bottom: 1.5em;" class="list-group list-group-flush">
                    <li th:each="episode : ${season}">
                        <a th:href="@{'/episode?id=' + ${episode.id}}" th:text="${episode.episodeName}"/>
                    </li>
                </ol>
            </div>

            <div class="movie-c-reviews movie-stuff container-fluid">
                <h3>CRITIC REVIEWS</h3>
                <div th:if="${criticReviews.size() == 0}">
                    <p class="center-p">NO REVIEWS</p>
                </div>
                <div th:each="cr : ${criticReviews}">
                    <div class="card border-danger">
                        <div class="card-header container-fluid" th:text="@{'Rating: ' + ${cr.rating} + '%'}"></div>
                        <div class="card-body text-danger container-fluid">
                            <img width="100" height="100" th:src="@{${profilePicURL} + 'user' + ${cr.userId} + '.jpg'}" alt="CAST IMAGE"/>
                            <h5 class="card-title">By: <a th:href="@{'/profile?id=' + ${cr.userId}}" th:text="@{${cr.userName}}"></a></h5>
                            <p class="card-text" th:unless="${cr.reviewText == null}" th:text="${cr.reviewText}">
                            </p>
                            <div class="row card-text">
                                <div th:if="${session.account != null and cr.userId == session.account.id}" class="col-sm-1">
                                    <form action = "edit_review" method="get">
                                        <div class="form-group">
                                            <input type="hidden" th:value="${cr.id}" name="id" />
                                            <button class="btn btn-outline-danger" type="submit" value="Edit">Edit</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-sm-1" th:if="${session.account != null} and ${cr.userId == session.account.id or session.account.accountType == T(centigrade.accounts.AccountType).ADMIN}">
                                    <form action = "delete_review" method="post">
                                        <div class="form-group">
                                            <input type="hidden" th:value="${cr.id}" name="id" />
                                            <button class="btn btn-outline-danger" type="submit" value="X">Delete</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-sm-1">
                                    <form th:if="${session.account != null} and ${cr.userId != session.account.id and session.account.accountType != T(centigrade.accounts.AccountType).ADMIN}" action = "report_review" method="get">
                                        <div class="form-group">
                                            <input type="hidden" th:value="${cr.id}" name="id" />
                                            <button class="btn btn-outline-danger" type="submit" value="Report">Report</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p th:utext="@{'&lt;br&gt;'}"></p>
                </div>
            </div>
            <div class="movie-u-reviews movie-stuff container-fluid">
                <h3>USER REVIEWS</h3>
                <div th:if="${userReviews.size() == 0}">
                    <p class="center-p">NO REVIEWS</p>
                </div>
                <div th:each="ur : ${userReviews}">
                    <div class="card border-danger">
                        <div class="card-header container-fluid" th:text="@{'Rating: ' + ${ur.rating} + '%'}"></div>
                        <div class="card-body text-danger container-fluid">
                            <img width="100" height="100" th:src="@{${profilePicURL} + 'user' + ${ur.userId} + '.jpg'}" alt="CAST IMAGE"/>
                            <h5 class="card-title">By: <a th:href="@{'/profile?id=' + ${ur.userId}}" th:text="@{${ur.userName}}"></a></h5>
                            <p class="card-text" th:unless="${ur.reviewText == null}" th:text="${ur.reviewText}">
                            </p>
                            <div class="row card-text">
                                <div th:if="${session.account != null and ur.userId == session.account.id}" class="col-sm-1">
                                    <form action = "edit_review" method="get">
                                        <div class="form-group">
                                            <input type="hidden" th:value="${ur.id}" name="id" />
                                            <button class="btn btn-outline-danger" type="submit" value="Edit">Edit</button>
                                        </div>
                                    </form>
                                </div>
                                <div th:if="${session.account != null} and ${ur.userId == session.account.id or session.account.accountType == T(centigrade.accounts.AccountType).ADMIN}" class="col-sm-1">
                                    <form action = "delete_review" method="post">
                                        <div class="form-group">
                                            <input type="hidden" th:value="${ur.id}" name="id" />
                                            <button class="btn btn-outline-danger" type="submit" value="X" >Delete</button>
                                        </div>
                                    </form>
                                </div>
                                <div th:if="${session.account != null} and ${ur.userId != session.account.id and session.account.accountType != T(centigrade.accounts.AccountType).ADMIN}" class="col-sm-1">
                                    <form action = "report_review" method="get">
                                        <div class="form-group">
                                            <input type="hidden" th:value="${ur.id}" name="id" />
                                            <button class="btn btn-outline-danger" type="submit" value="Report" >Report</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p th:utext="@{'&lt;br&gt;'}"></p> <!-- th:if="${}"-->
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments :: footer"></div>
</body>
</html>