<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head(AllShows)"></head>

<body>
<div th:replace="fragments :: navbar"></div>
<div class="container container-fluid">
    <div id="movie-top">
        <h1>All Shows</h1>
    </div>

    <!-- SORT BUTTONS -->
    <form action="/shows" method="get" id="sort-form">
        <div class="row">
            <div class="col">
                <select class="custom-select" name="sortBy">
                    <option th:each="crit:${sortCriteria}"
                            th:value="${crit}"
                            th:text="${crit}"
                            th:selected="${crit.toString().equals(sortBy)}"/>
                </select>
            </div>
            <div class="col">
                <select class="custom-select" name="sortDirection">
                    <option th:each="dir:${sortDirections}"
                            th:value="${dir}"
                            th:text="${dir}"
                            th:selected="${dir.toString().equals(sortDirection)}"/>
                </select>
            </div>
            <button type="submit" class="btn btn-outline-primary">Sort</button>
        </div>
    </form>

    <!-- SHOW RESULTS -->
    <div id="show-results">
        <img class="loading padding-top-bottom" th:src="@{/img/icons/loading.gif}" alt="" />
    </div>

</div>
<div th:replace="fragments :: footer"></div>
<script type="text/javascript" th:src="@{/js/shows.js}"></script>
</body>
</html>